<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset={{charset}}" />
		<meta http-equiv="Content-Language" content="{{meta_language}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="{{base_url}}"/>
		<title>{{title_prefix}}{{page_title}}{{title_suffix}}</title>
		<!-- <meta charset="{{charset}}" /> -->
		<meta name="keywords" content="{{meta_keywords}}" />
		<meta name="description" content="{{meta_description)}}" />
		<meta name="copyright" content="{{meta_copyright}}" />
		{{&globalstyles}}
		{{&theme_css}}
		{{&pagestyles}}
	</head>
	<body>
		<div id="confirmDiv"></div>
	    {{>blocks/admin-topnav}}
		<div class="row-fluid">
			{{#if logged_in}}
			{{#unless kill_sidemenu}}
			<div class="span2 sidebar-nav">
		  		{{#menu menuname currentmenuitem}}
		  	</div>
			{{/unless}}
			<div class="{{#if kill_sidemenu}}span10{{else}}span8{{/if}} content-body">
				{{#if user_msg}}
		    	<div class="row">
					<div class="span11 message">{{>blocks/message}}</div>
				</div>
				{{/if}}
				{{#if search_context}}
				<div class="row">
					<div class="span12">
						<form method="post" action="{{system_functions_url}}" class="form-inline" >
							<input name="search_context" class="input-xlarge" type="text" placeholder="{{search_context}}" value="{{current_search_context}}">
							<button type="submit" class="btn btn-primary">
								<i class="icon-search icon-white"></i>
							</button>
							<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>
						</form>
					</div>
				</div>
				{{/if}}
				<div class="row-fluid">
		    		{{>content}}
		    	</div>
		    	<div id="pagination" class="row">{{>blocks/pagination}}</div>
		    </div>			
			{{else}}
			
			<div class="span7 content-body">
		    	{{>admin_login}}
		    </div>
		   
		    </div>
			{{/if}}
		</div>
		<hr>
		{{>blocks/friend_invites}}
		<div id="ajax-modal" class="modal hide fade" tabindex="-1" data-width="760" data-backdrop="static" data-keyboard="false"></div>
		{{>footer}}
		{{&globalscripts}}
		<script type="text/javascript">
			$(function () {
				window.showConfirm = function(options) {
					options || {};
					$("#confirmDiv").confirmModal(options);
				};
			});
		</script>
		{{#render_script pagescripts}}
	</body>
</html>