<div class="well offset6">
<form class="form-horizontal" action='user/login' method="POST">

		<div id="legend">
			<legend class="">
				Login
			</legend>
		</div>
		<div class="control-group">
			<!-- Username -->
			<label class="" for="username">Username</label>
			<div class="">
				<input type="text" id="username" name="username" placeholder="Username" class="input-large">
			</div>
		</div>

		<div class="control-group">
			<!-- Password-->
			<label class="" for="password">Password</label>
			<div class="">
				<input type="password" id="password" name="password" placeholder="Password" class="input-large">
			</div>
		</div>		
		<div class="control-group">
						<!-- Button -->
			<div class="">
				<label class="checkbox">
    			<input type="checkbox" name="remember"/> Keep me logged in
    	</label>
				<button type="submit" class="btn btn-primary">Login</button>
				<span class="help-block">
	    			<a href="#password-recovery" role="button"  data-toggle="modal" tabindex="-1">Can't access your account?</a>
	    		</span>
			</div>
		</div>		
   
</form>
</div>
{{>blocks/password_recovery}}