<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset={{charset}}" />
		<meta http-equiv="Content-Language" content="{{meta_language}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="{{base_url}}"/>
		<title>{{title_prefix}}{{page_title}}{{title_suffix}}</title>
		<!-- <meta charset="{{charset}}" /> -->
		<meta name="keywords" content="{{meta_keywords}}" />
		<meta name="description" content="{{meta_description)}}" />
		<meta name="copyright" content="{{meta_copyright}}" />
		{{&globalstyles}}
		{{&theme_css}}
		{{&pagestyles}}
	</head>
	<body>			
		<div class="row-fluid">
    		{{>content}}
    	</div>
    	<div id="pagination" class="row">{{>blocks/pagination}}</div>				
		{{&globalscripts}}
		<script type="text/javascript">
			$(function () {
				window.showConfirm = function(options) {
					options || {};
					$("#confirmDiv").confirmModal(options);
				};
			});
		</script>
		{{#render_script pagescripts}}
	</body>
</html>