<footer>
	<p class="site-name pull-left">
		&copy;2013 Virtual Educational Services
	</p>
	<p class="site-links pull-right">
		<a href="#">About Us</a>&nbsp;|&nbsp; <a href="#">FAQ</a>&nbsp;|&nbsp; <a href="#">Contact Us</a>&nbsp;|&nbsp; <a href="#">Terms of Service</a>&nbsp;|&nbsp; <a href="#">Content Providers</a>&nbsp;|&nbsp; <a href="#">Privacy Policy</a>&nbsp;|&nbsp; <a href="#">Partners</a>&nbsp;|&nbsp; <a href="#">Features</a>&nbsp;|&nbsp; <a href="#">Jobs</a>
	</p>
</footer>