<header>
	<div class="logo">
		&nbsp;
	</div>
	
	<form id="login-form" class="form pull-right" action="user/login" method="post">
		<div class="row zero-margin"><span class="text-error">{{login_msg}}</span></div>
		<div class="row zero-margin">
			<div class="span5">
				<label>Username/Phone number</label>
				<input type="text" class="input-medium" placeholder="Username" name="username" required="required" tabindex="1" />
				<label class="checkbox">
					<input type="checkbox" name="remember" tabindex="3" />
					Keep me logged in </label>
			</div>
			<div class="span5">
				<label>Password</label>
				<input type="password" class="input-medium" required="required" placeholder="Password" name="password" tabindex="2" />
				<span class="help-block"> <a href="#password-recovery" role="button"  data-toggle="modal" tabindex="-1">Can't access your account?</a> </span>
			</div>
			<div class="span2">
				<button type="submit" class="btn btn-primary" tabindex="4">
					Login
				</button>
			</div>
		</div>	

	</form>
	{{>blocks/password_recovery}}
</header>