<header>
    <a class="logo" href="">&nbsp;</a>
    <div class="student-meta">
		<img class="avatar" src="{{#if user_info.avatar}}{{../component_base_url}}assets/avatars/{{user_info.avatar}}{{else}}{{../component_base_url}}assets/avatars/default-avatar.png{{/if}}"/>
		<div class="dropdown pull-left" style="margin-top: 20px;">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle user-menu">Hi {{username}}<!--({{user_info.student_info.nickname}})--> <b class="caret"></b></a>
			<ul class="dropdown-menu">

				<li><a href="{{component_base_url}}user/profile/{{user_id}}"><i class="icon-user"></i> View Profile</a></li>
				
				<li><a href="#"><i class="icon-cog"></i> Preferences</a></li>
				<li class="divider"></li>                   
				<li><a href="#">About Us</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Contact Us</a></li>
				<li class="divider"></li>                   
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Content Providers</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Partners</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Jobs</a></li>
				<li class="divider"></li>
				<li><a href="{{component_base_url}}user/logout"><i class="icon-off"></i> Sign Out</a></li>
			</ul>
		</div>
		<img class="flag" src="templates/default/site/img/flag.png"/>
		<small class="reg-no pull-left">Student ID: {{user_info.student_info.registration_no}}</small>
    </div>
</header>