body {
  padding-top: 20px;
  padding-bottom: 40px;
}

label, input, button, select, textarea {
    font-size: 12px;
    line-height: 14px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    /*border-radius: 3px 3px 3px 3px;
    color: #CCAE6E;*/
    /*font-size: 14px;*/
    height: 16px;
    /*line-height: 20px;
    margin-bottom: 9px;*/
    padding: 4px /*6px*/;
}

select, input[type="file"] {
    height: 26px;
    /*line-height: 30px;*/
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: inherit !important;
}

.registration .form-horizontal .control-group {
	margin-bottom: 6px;
}

.registration [class^="icon-"], .registration [class*=" icon-"] {
    margin-top: 0;
    width: 12px;
}

.input-append .add-on, .input-prepend .add-on {
    /*background-color: inherit;*/
    height: 16px;
    min-width: 14px;
    line-height: 16px;
}

.sidebar-nav {
  padding: 9px 0;
  border: 1px solid #E3E3E3;
}

.sidebar-nav .nav-list > li > a {
  padding: 7px 15px;
}
.content-body{
	padding: 9px 0 9px 10px;
}

footer p{
	padding: 0 10px
}

.registration {
	/*float: left;*/
	/*margin: 20px 0px;
	 padding: 20px;
	 -webkit-border-radius: 100px / 50px;
	 border-radius: 900px / 90px;
	 background: #EFA308;
	 border-right: 15px solid #DAD7D7;
	 border-top-right-radius: 400px;
	 border-bottom-right-radius: 500px;*/
	background-size: 100% auto;
	height: 460px;
	background-repeat: no-repeat;
}


.registration-default {
	background-image: url("../img/register/13.jpg");
}

.registration-bootstrap {
	background-image: url("../img/register/10.jpg");
}


.registration-form-wrapper {	
	margin-right: -3%;
	margin-top: 80px;
	padding-top: 20px;
	border: 0px solid;
	background-color: #F5F5F5;
	width: 430px;
	border-radius: 20px;
	box-shadow: 1px 1px 10px inset;
	position: absolute;
	left: 70px;
}

#registration-form .form-actions {
	background-color: inherit;
	border: none;
	padding: 0 160px;
}

#registration-form fieldset {
	position: relative;
}

#registration-form legend {
	line-height: inherit;
	border: none;
	position: absolute;
	left: 40%;
	top: -10px;
}

#login-form {
	margin: 0 15px 0 0;
}

#login-form a{
	font-size: 12px;
}

#login-form button{
	margin-top: 19px;
	padding: 0px 14px;
	height: 26px;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
header {
  padding: 0;
}
footer {
  text-align: center;
}
header .logo{
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 10px top;
  height: 72px;
  width: 300px;
  float: left;
}
header .student-meta {
	/*height: 64px;
	width: 600px;*/
	float: right;
	margin-right: 10px;
	width: 300px;
}
header .student-meta .flag, header .student-meta .avatar {
	height: 60px;
	width: 60px;
	float: left;
	margin-left: 30px;
	/*background-repeat: no-repeat;
	background-position: center center;*/
	border: none/*1px solid #efefef*/;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

header .student-meta .user-menu{
	margin-left: 10px
}

header .student-meta .reg-no{
	margin-left: 28px;
	font-weight: bold;
	color: #CCAE6E;
	font-size: 13px
}

.provider-logo-footer {
	/*width: 100% 650px*/;
	height: 130px/*454px*/;
	background-size: auto 100%;
	background-image: url('../img/register/9.jpg');
	background-position: left center;
	background-repeat: no-repeat;
}

.video-button{
	position: absolute;
	left: 15px;
	top:-40px;
}

.provider-logo{
	margin: 10px 0 10px 0/*10px 0*/;
	width: auto/*570px 650px*/;
	height: 300px/*390px 454px*/;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center left;
}
.provider-logo-default{
	background-image: url('../img/register/5.jpg');
}

.provider-logo-bootstrap{
	background-image: url('../img/register/7.jpg');
}

.dropdown-menu {
	min-width: 170px;
}
.dropdown-menu .sub-menu {
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}
.dropdown-menu li {
	position: relative;
}
.dropdown-menu li a [class^="icon-chevron-right"] {
	position: absolute;
	right: 10px;
	top: 5px;
}
/*&:hover {// Switch to white icons on hover
	[class^="icon-"] {
		background-image: url("img/glyphicons-halflings-white.png");
 	}
}*/
.dropdown-menu li:hover .sub-menu {
	visibility: visible;
	display: block;
}
.navbar .sub-menu:before {
	border-bottom: 7px solid transparent;
	border-left: none;
	border-right: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 7px solid transparent;
	left: -7px;
	top: 10px;
}
.navbar .sub-menu:after {
	border-top: 6px solid transparent;
	border-left: none;
	border-right: 6px solid #fff;
	border-bottom: 6px solid transparent;
	left: 10px;
	top: 11px;
	left: -6px;
}
.navbar{
	overflow: visible;
}

/* Profile Section */
.box-profile.well {
	float: left;
	width: 350px;
	height: 300px;
	margin-left: -12px;
	margin-bottom: 0px;
}
.profile-label-text{
	color: #89919c;
}
.profile-label{
	margin-bottom:10px;
}

/* Password meter styling */
#progressbar {
	width: 100px;
	height: 8px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 2px;
	overflow: hidden;
	background-color: white;
}

#progressbar.student-progress-meter {
	height: 14px;
	position: relative;
	font-size: 12px;
}

#progress {
	display: block;
	height: 100px;
	width: 0%;
}

#progressbar .total-count{
	position: absolute;
	top:-3px;
	margin-left: 40%
}

.progressbarValid {
	background-color: green;
	background-image: -o-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
	background-image: -moz-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
	background-image: -webkit-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
	background-image: -ms-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
	background-image: linear-gradient(-90deg, #8AD702 0%, #389100 100%);
}
.progressbarInvalid {
	background-color: red;
	background-image: -o-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
	background-image: -moz-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
	background-image: -webkit-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
	background-image: -ms-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
	background-image: linear-gradient(-90deg, #F94046 0%, #92080B 100%);
}

/* Toggle button styles */
p.form-label {
	font-weight: bold
}
.btn-group {
	margin-top: 0
}
.btn-group.vertical-group > .btn {
	border-radius: 0px 5px !important;
	display: block;
	min-width: 80px;
    width: auto;
	margin: 8px 10px 8px 0;
	max-width: 100px;
}
.btn-group.horizontal-group > .btn {
	border-radius: 0px 5px !important;
	display: inline-block;
	margin: 4px 8px 4px 0;
	min-width: 80px;
    width: auto;
    max-width: 100px;
}

.row-price {
	padding-top: 30%;
	padding-left: 20%;
	width: 100%;
	height: 150px;
	background: url("../img/curly-brace-right.gif") no-repeat scroll 0 0 transparent;
	background-size: 18%/*60%*/ auto;
	background-position: 30px 35%/*-20px 0*/;
}

.row-price .subtotal {
	font-weight: bold;
	text-align: center;
}

.row-price .subtotal .cost {
	background-color: #999;
	border-radius: 8px;
	color: #fff;
	padding: 4px;
	height: 20px
	width: 20px
}

.msg-poster {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 5px
}

.date-posted {
	text-align: center;
	border-top: 1px solid #e8e8e8;
	margin: 5px 0 2px 0;
}

.thread-time, .thread-date {
	font-size: 11px;
	font-weight: normal;
	color: #bfbfbf;
}

.date-posted .thread-date {
	position: relative;
	top: -12px;
	background-color: #F6F7F7;
	padding: 0 5px
}

.msg-reply-box form {
	margin-left: 50px;
}

/*User Profile Cards*/
.content-body .row div.profile-container {
	margin-left:0px  !important;
	margin-right:8px;
}

.row-fluid .profile-container[class*="span"] {
	min-height: 60px !important;
}
.profile-content {
	margin-left:0px !important;
}

.badge a{
	color:#ffffff;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 0;
}

.latest-chat-contact, .latest-chat-msg {
	padding-left: 5px
	
}

.latest-conversations .friends-list-item {
	min-height: 47px;
	padding-top: 5px
}

.latest-conversations a img {
	width: 32px;
	height: auto
}

.latest-conversations .latest-chat-contact {
	font-weight: bold;
	color: #323232;
}

.latest-chat-msg {
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: #323232;
}

.latest-conversations .latest-conversations-header, .friends-list .friends-list-header, .group-members{
	min-height: 10px;
	margin-left:0px !important;
	font-size: 12px !important;
	padding-top: 4px;
	padding-left:8px;
	background-color: #FF7F27;
	color: #fff;
	font-weight: bold
}

.friends-list-item {
	margin-left:0px !important;
	font-size: 12px !important;
	min-height: 40px;
	padding-top: 10px;
	padding-left:4px;
	border-bottom:1px solid #E3E3E3;
}

.latest-conversations .friends-list-item {
	border-left:1px solid #E3E3E3;
	border-right:1px solid #E3E3E3;
}

.friends-list-item .contact-name {
	display: block;
	font-weight: bold;
	padding-left: 10px;
	margin-top 8px;
}

.friends-list-item > div{
	/* word-wrap: break-word; */
}
.friends-list-item:hover, .friends-list-item.active {
	background-color:#ECEFF5 !important;
}

.friends-list-item.new-msg {
	background-color:#DCEFF5 !important;
}
/*Styling for friends notification list items*/
.notification-list-item{
	margin-bottom: 10px;
	border-bottom: 
}
.notification-list-item-img{
	float:left;
	margin-right:10px;
}
.notification-list-item-buttons{
	float:right;
	display:inline-block;
	
}
.notification-list-item-body{
	float:left;
	display: inline-block;
	vertical-align:middle;
}

/* styling for material section */
.materials-subject th, .materials-subject td {
	border-top: none;
}

.materials-subject td a {
	font-size: 14px;
}

.materials-subject td.materials-subject-topic, .materials-subject td.materials-subject-intro {
	border-top: 1px solid #826D60;
}

.table .badge-td{
	text-align: center; 
}

.materials-subject-heading {
	font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.materials-subject-heading.pq-heading{
	margin-bottom:0;
	background-color: #ddd;
	padding: 2px 5px;
}

.materials-filter-label {
	font-size: 14px;
	font-weight: bold;
}

#ajax-progress{
	display:none;
}
/* Text emphasis classes */
.text-error{
	color: #B94A48;
}

.text-success{
	color: #468847;
}

/*Search Context Styles for moving add button to the right*/
.has-add-button{
	position:relative;	
}
.has-add-button .add-button{
	position:absolute;
	right:0;
	top:-50px;
}
.wysihtml5-sandbox{
	height:200px !important;
}
/* Question Form Label Styling*/
#form-question .label{
	display: inline-block;
}

.countdown-container{
	margin: 10px
}

#ajax-modal .modal-body label.alert{
    padding: 5px 0 0;
    margin-bottom: 8px;
}

#ajax-modal .modal-body label.alert.radio input[type="radio"] {
	margin: 0 3px 0 4px;
}

#ajax-modal .modal-body .alert.explantion-box{
	margin-top: 15px;
}
.zero-margin{
 	margin-left:0px !important;
 }
.left-border{
	border-right: 1px solid #E8E8E8;
	
}

/* Pagination styling */
.paginated-content {
    /*position:relative;
    height:400px;*/
}
.paginated-content .page {
    /*position:absolute;
    top:0px;*/
}
.pagination{
    padding: 2px;
}

.pagination hr{
	margin: 0 0 15px;
}
.pagination ul{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 13px;
    float: left;
}
.pagination li{
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}
.pagination a, .pagination a:visited{
    padding: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #2e6ab1;
    line-height: 28px;
}
.pagination a:hover, .pagination a:active{
    color: #CCAE6E;
    background-color: #F6F7F7;
}
.pagination a.prevnext{
    font-weight: bold;
}
.page_number {
    border: 1px solid #ddd;
    color: #2e6ab1;
    padding:4px;
    text-align: center;
    float: left;
    margin-right: 5px;
}
