<div class="span12">
	<div class="row">
		{{#each content_data}}		
			<h5>{{subject}}</h5>
			<div class="expander">{{message}}</div>
			<div>
				<span class="badge badge-success">Posted {{date}}</span>
				<div class="pull-right">
					<span class="label label-inverse">{{user.username}}</span>
				</div>
			</div>
			<hr>		
		{{/each}}
	</div>	
</div>
