<div class="span8">
	<div class="row">
		<div class="span12"><h5>Conversation with {{content_data.conversation.recepient_name}}</h5></div>
	</div>
	{{#each content_data.conversation_threads}}
	<div class="row">
		<div class="span1">
			<img src="{{../template_path}}img/user.jpg" class="img-polaroid">
		</div>
		<div class="span11">
			<p class="msg-poster">{{#equals_to username ../user_info.username}}You{{else}}{{../content_data.conversation.recepient_name}}{{/equals_to}}<span class="pull-right thread-time">{{#timestamp_to_date time "h:i a"}}</span></h4>
			<p class="msg-body">{{reply}}</p>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="date-posted"><span class="thread-date">{{#timestamp_to_date time "M j"}}</span></div>
		</div>
	</div>
	{{/each}}
	<div class="row">
		<div class="span9 msg-reply-box">
			<form accept-charset="UTF-8" action="" method="POST">
				<textarea class="span12" id="msg-reply" name="reply" placeholder="Type in your message" rows="5"></textarea>
				<!--<h6 class="pull-right">320 characters remaining</h6>-->
				<input type="hidden" name="c_id" value="{{content_data.conversation.conversation_id}}" />
				<button class="btn btn-info" type="submit">{{#if content_data.conversation_threads}}Reply{{else}}Post{{/if}}</button>
			</form>
		</div>
	</div>
</div>
<div class="span4 latest-conversations">
	<div class="row latest-conversations-header"><span>Latest Messages</span></div>
	{{#unless content_data.conversation_list}}
	<div class="row friends-list-item no-message-list-item"><i class="icon-warning-sign"></i> You have no recent messages.</div>
	{{/unless}}
	{{#each content_data.conversation_list}}
	<div id="latest-messages-item-{{conversation_id}}" class="row latest-messages-list-item friends-list-item{{#equals_to conversation_id ../content_data.conversation.conversation_id}} active{{/equals_to}}">
		<a href="{{../system_functions_url}}/view/{{conversation_id}}">
			<span class="span2">
				<img src="{{../template_path}}img/user.jpg" class="img-polaroid">
			</span>
			<span class="span10">
				<div class="latest-chat-contact">{{firstname}} {{lastname}}</div>
				<div class="latest-chat-msg">{{reply}}</div>
			</span>
		</a>
	</div>
	{{/each}}
</div>
<script id="latest-messages-list-item-template" type="text/x-handlebars-template">
	<div id="latest-messages-item-{{#wrap_handlebars_var conversation_id}}" class="row latest-messages-list-item friends-list-item new-msg">
		<a href="{{system_functions_url}}/view/{{#wrap_handlebars_var conversation_id}}">
			<span class="span2">
				<img src="{{template_path}}img/user.jpg" class="img-polaroid">
			</span>
			<span class="span10">
				<div class="latest-chat-contact">{{#wrap_handlebars_var username}}</div>
				<div class="latest-chat-msg">{{#wrap_handlebars_var reply}}</div>
			</span>
		</a>
	</div>
</script>