<div class="tabbable">
	<!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="{{#unless plan.event_description}}active{{/unless}}">
			<a href="#academic" data-toggle="tab">Academic</a>
		</li>
		<li class="{{#if plan.event_description}}active{{/if}}">
			<a href="#events" data-toggle="tab">Events</a>
		</li>
	</ul>
	<form id="form-study-plan" class="horizontal ">
		<div class="tab-content">
			<div class="tab-pane {{#unless plan.event_description}}active{{/unless}}" id="academic">
				<div class="offset1"></div>
				<div class="control-group">
					<label>Select subject</label>
					<select id="subject" name="subject">
						<option>All</option>
						{{#each subjects}}
						<option value="{{subject_id}}"  {{#equals_to subject_id ../plan.subtopic.lesson.fk_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
						{{/each}}
					</select>
				</div>
				<div class="control-group">
					<label>Select topic</label>

					<select id="topic" name="topic" disabled="disabled">
						<option>All</option>
						{{#each topics}}
						<option value="{{lesson_id}}" {{#equals_to lesson_id ../plan.subtopic.fk_lesson_id}}selected="selected"{{/equals_to}}>{{topic_title}}</option>
						{{/each}}
					</select>
				</div>
				<div class="control-group">
					<label>Select subtopic</label>
					<select id="subtopic" name="subtopic" disabled="disabled">
						<option>All</option>
						{{#each subtopics}}
						<option value="{{subtopic_id}}"{{#equals_to subtopic_id ../plan.fk_subtopic_id}}selected="selected"{{/equals_to}}>{{subtopic_title}}</option>
						{{/each}}
					</select>
				</div>
				<input type="hidden" name="startDate" id="startDate" value="{{plan.start}}" />
				<input type="hidden" name="endDate" id="endDate" value="{{plan.end}}" />
				<input type="hidden" name="study_plan_id" id="study_plan_id" value="{{plan.study_plan_id}}" />
			</div>
			<div class="tab-pane {{#if plan.event_description}}active{{/if}}" id="events">
				<label>Event Description</label>
				<textarea class="span4" rows="650" id="event_description" name="event_description">{{plan.event_description}}</textarea>
			</div>
		</div>

	</form>
</div>

