
{{#each content_data}}
	<div class="span5 well profile-container">
		<div class="profile-content row">
			<div class="span3">
				<img src="{{#if avatar}}{{../component_base_url}}assets/avatars/{{avatar}}{{else}}{{../component_base_url}}assets/avatars/default-avatar.png{{/if}}" alt="" class="img-polaroid">
			</div>
			<div class="span8">
				<p style="margin:0 0 10px 10px">
				{{#if firstname}}{{firstname}} <br/>{{lastname}}{{else}}Anonymous{{/if}}				
				</p>
			</div>
		</div>
		<div class="profile-content row" >
			 <span class=" badge badge-warning">
				<a onclick="groupInvite({{id}},{{../group}})">
					Add to group
				</a>			 		
			</span>		 	
		</div>			
	</div>
{{/each}}
