<form id="form-group">
	{{#with group}}
	<div class="control-group">
		<label for="name">Group Name</label>
		<div class="controls">
			<input type="text" name="name" value="{{name}}" id="name" maxlength="50" />
		</div>
	</div>
	<div class="control-group">
		<label for="description">Description</label>
		<div class="controls">
			<textarea name="description" id="description">{{description}}</textarea>
		</div>
	</div>
	<input type="hidden" name="study_group_id" value="{{study_group_id}}" />
	{{/with}}
</form>