
<!-- Modal -->
<div id="group-invite" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="group-invite" aria-hidden="true" data-width="760">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel" style="padding-left: 33px">Group Invite
	</div>
	<div class="modal-body" style="padding-left: 50px">
		<div class="offset5 loader"><img src="{{template_path}}img/ajax-loader.gif" /></div>
		<div class="form-holder"></div>
	
	</div>
	<div class="modal-footer">
		<a id="save-group-invite" class="btn btn-primary" >Yes</a>
		<a data-dismiss="modal" href="#" class="btn">No</a>
	</div>
	
</div>