<form id="form-group-invite">
	{{#if has_capacity}}
	<p>{{message}}<br/>{{confirm}}</p>
	<input type="hidden" name="group" value="{{group}}" />
	<input type="hidden" name="user" value="{{user.id}}" />
	<input type="hidden" name="status" value="{{status}}" />
	{{else}}
	<p class="text-error">Your current group's capacity has reached the maximum number</p>
	<input type="hidden" id="hasCapacity" value="{{has_capacity}}" />
	{{/if}}
</form>