{{#if content_data.introduction}}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4>{{page_title}}</h4>
</div>
<div class="modal-body">{{{content_data.introduction}}}</div>
<div class="modal-footer">
	<a class="btn btn-primary pull-right" href="{{system_functions_url}}subtopic/{{content_data.first_subtopic_id}}">Start Lesson</a>
</div>
{{else}}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4>Oops!! Something went wrong</h4>
</div>
<div class="modal-body"><p>There was a problem fetching the lesson introduction.</p></div>
<div class="modal-footer">
	<a class="btn btn-primary pull-right" href="#" data-dismiss="modal" >Close</a>
</div>
{{/if}}
