
<div class="span12">
	<div class="row">
		<div class="span12">
			<form class="form-inline pull-left" autocomplete="off" method="post">
				<label class="materials-filter-label">Subjects:&nbsp;</label>
				<select class="input-medium" name="subject">
					<option value="">Select One</option>
					{{#each subject_list}}
					<option value="{{subject_id}}" {{#equals_to subject_id ../active_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
					{{/each}}
				</select>
				<button class="btn btn-info btn-small" type="submit" name="filter_subject" data-loading-text="Loading...">Show</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			{{#if active_subject_id}}
			{{#if subject_lessons}}
			<div class="well">
				<table class="table table-hover table-condensed materials-subject">
					<caption class="materials-subject-heading">{{active_subject_title}} Table of Contents</caption>
					<thead>
						<tr>
							<th>#</th>
							<th>Topics and Subtopics</th>
							<th>Trial Questions</th>
							<th>Past Questions</th>
							<!--<th>Video Lessons</th>-->
						</tr>
					</thead>
					<tbody>
						{{#iter subject_lessons}}
						<tr>
							<td class="materials-subject-topic">{{@index}}</td>
							<td colspan="4" class="materials-subject-topic">{{topic_title}}</td>
						</tr>
						<tr>
							<td class="materials-subject-intro">&nbsp;</td>
							<td colspan="4" class="materials-subject-intro"><a class="ajax-modal" data-toggle="modal" data-href="lessons/intro/{{lesson_id}}">Introduction</a></td>
						</tr>
						{{#iter subtopics_list a}}
						<tr>
							<td>{{@index}}</td>
							<td><a href="lessons/subtopic/{{subtopic_id}}">{{subtopic_title}}</a></td>
							<td>
				    			<div id="progressbar" class="student-progress-meter">
				    				<span class="total-count">{{get_trial_questions_user_progress}}/{{get_trial_questions_count}}</span>
				    				<div id="progress" class="progressbarValid" style="width: {{#percentage get_trial_questions_user_progress get_trial_questions_count}}%"></div>
				    			</div>
			            	</td>
							<td>
				    			<div id="progressbar" class="student-progress-meter">
				    				<span class="total-count">{{get_past_questions_user_progress}}/{{get_past_questions_count}}</span>
				    				<div id="progress" class="progressbarValid" style="width: {{#percentage get_past_questions_user_progress get_past_questions_count}}%"></div>
				    			</div>
			            	</td>
							<!--<td>
				    			<div id="progressbar" class="student-progress-meter">
				    				<span class="total-count">12</span>
				    				<div id="progress" class="progressbarValid" style="width: 70%"></div>
				    			</div>
			          		</td>-->
						</tr>
						{{/iter}}
						<tr>
							<td colspan="5">&nbsp;</td>
						</tr>
						{{/iter}}
					</tbody>
				</table>
			</div>
			{{else}}
			<p>No content available at the moment. Please check again soon.</p>
			{{/if}}
			{{else}}
			<p>Please select a subject above to see corresponding lessons within that subject.</p>
			{{/if}}
		</div>
	</div>
</div>