<h4>{{page_title}}</h4>
<ul class="nav nav-tabs">
	<li class="active"><a href="#notes" data-toggle="tab">Notes</a></li>
	<li><a href="#past-questions" class="ajax-modal" data-href="{{system_functions_url}}past_questions/{{content_data.subtopic_id}}" data-width="480">Past Questions</a></li>
	<li><a href="#trial-questions" class="ajax-modal" data-href="{{system_functions_url}}trial_questions/{{content_data.subtopic_id}}" data-width="480">Trial Questions</a></li>
</ul>
<div class="no-longer-tab-content">
	<div class="tab-pane active paginated-content" id="notes">{{{content_data.notes}}}{{{content_data.notes}}}{{{content_data.notes}}}</div>
    <div class="pagination" style="display: none">
    	<hr />
    	<div id="page_number" class="page_number"></div>
        <ul>
            <li><a href="#" onclick="return false" id="prev" class="prevnext">&laquo; Previous</a></li>
            <li><a href="#" onclick="return false" id="next" class="prevnext">Next &raquo;</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
	var lesson_past_question_ids = [{{content_data.past_question_ids}}];
	var lesson_trial_question_ids = [{{content_data.trial_question_ids}}];
</script>
