<div class="span12">
	<div class="row">
		<div class="span12">
			<form class="form-inline pull-left" autocomplete="off" method="post">
				<label class="materials-filter-label">Country:&nbsp;</label>
				<select name="country_id" class="input-medium">
					<option>Country</option>
					{{#each countries}}
						<option value="{{country_id}}">{{country_name}}</option>
					{{/each}}					
				</select>
				<label class="materials-filter-label">Subjects:&nbsp;</label>
				<select class="input-medium" name="subject">
					<option value="">Select One</option>
					{{#each subject_list}}
					<option value="{{subject_id}}" {{#equals_to subject_id ../active_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
					{{/each}}
				</select>
				<button class="btn btn-info btn-small" type="submit" data-loading-text="Loading...">Show</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			{{#if active_subject_id}}
			{{#if subject_mock_exams}}
			<table class="table table-hover table-condensed">
				<caption class="materials-subject-heading pq-heading">Mock Exams for {{active_subject_title}}</caption>
				<thead>
					<tr>
						<th>#</th>
						<th>Year</th>
						<th>Title of Mock Exam</th>
						<th>Questions</th>
						<th>Time</th>
						<th class="badge-td">Status</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					{{#iter subject_mock_exams}}
					<tr>
						<td>{{@index}}</td>
						<td>{{year}}</td>
						<td>{{mock_exam_title}}</td>						
						<td>{{get_questions_count}}</td>
						<td>{{mock_exam_time}} min</td>
						<td class="badge-td"><span class="badge badge-{{#if get_attempted_questions_count}}success{{else}}warning{{/if}}">{{#if get_attempted_questions_count}}Attempted{{else}}Unattempted{{/if}}</span></td>
						<td>
							{{#if get_attempted_questions_count}}
							<a class="btn btn-mini btn-inverse" href="#review" data-id="{{mock_exam_id}}" data-href="{{../controller_base_url}}review/{{mock_exam_id}}" data-width="500"><i class="icon-book"></i> Review</a>
							&nbsp;|&nbsp;
							{{/if}}
							<a class="btn btn-mini btn-inverse" href="#take" data-id="{{mock_exam_id}}" data-href="{{../controller_base_url}}take/{{mock_exam_id}}" data-width="500"><i class="icon-time"></i> {{#if get_attempted_questions_count}}Re-Take{{else}}Take{{/if}}</a></td>
					</tr>
					{{/iter}}
				</tbody>
			</table>
			{{else}}
			<p>No content available at the moment. Please check again soon.</p>
			{{/if}}
			{{else}}
			<p>Please select a subject and/or coutry above to see corresponding mock exams within that subject and/or country</p>
			{{/if}}
		</div>
	</div>
</div>
<script type="text/javascript">
	var mock_exams_question_ids = [{{content_data.mock_exam_question_ids}}]//[];
</script>