<div class="span12">
	<div class="row">
		<div class="span12">
			<form class="form-inline pull-left" autocomplete="off" method="post">
				<label class="materials-filter-label">Country:&nbsp;</label>
				<select name="country_id" class="input-medium">
					<option>Country</option>
					{{#each countries}}
						<option value="{{country_id}}">{{country_name}}</option>
					{{/each}}					
				</select>
				<label class="materials-filter-label">Subjects:&nbsp;</label>
				<select name="subject_id" class="input-medium">
					<option>Subject</option>
					{{#each subject_list}}
						<option value="{{subject_id}}">{{subject_title}}</option>
					{{/each}}					
				</select>
				<button class="btn btn-info btn-small" type="submit" data-loading-text="Loading...">Show</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			{{#each sessions}}
			<table class="table table-hover table-condensed">
				<caption class="materials-subject-heading pq-heading">{{exam_session_title}}</caption>
				<thead>
					<tr>
						<th>Year</th>
						<th>Title of Past Questions</th>
						<th>Subject</th>
						<th>Time</th>
						<th class="badge-td">Status</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					{{#each get_past_questions}}
					<tr>
						<td>{{term}}</td>
						<td>{{past_question_title}}</td>
						<td>{{subject.subject_title}}</td>
						<td>1hr 30min</td>
						<td class="badge-td"><span class="badge badge-{{#if get_attempted_questions_count}}success{{else}}warning{{/if}}">{{#if get_attempted_questions_count}}Attempted{{else}}Unattempted{{/if}}</span></td>
						<td>
							{{#if get_attempted_questions_count}}
							<a class="btn btn-mini btn-inverse" href="#review" data-id="{{past_question_id}}" data-href="{{../../controller_base_url}}review/{{past_question_id}}" data-width="500"><i class="icon-book"></i> Review</a>
							&nbsp;|&nbsp;
							{{/if}}
							<a class="btn btn-mini btn-inverse" href="#take" data-id="{{past_question_id}}" data-href="{{../../controller_base_url}}take/{{past_question_id}}" data-width="500"><i class="icon-time"></i> {{#if get_attempted_questions_count}}Re-Take{{else}}Take{{/if}}</a></td>
					</tr> 
						
					{{/each}}
					</tbody>
			</table>
			{{/each}}			
		</div>
	</div>
	
	
	{{#each content_data.conversation_threads}}
	<div class="row">
		<div class="span1">
			<img src="{{../template_path}}img/user.jpg" class="img-polaroid">
		</div>
		<div class="span11">
			<p class="msg-poster">{{#equals_to username ../user_info.username}}You{{else}}{{../content_data.conversation.recepient_name}}{{/equals_to}}<span class="pull-right thread-time">{{#timestamp_to_date time "h:i a"}}</span></h4>
			<p class="msg-body">{{reply}}</p>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="date-posted"><span class="thread-date">{{#timestamp_to_date time "M j"}}</span></div>
		</div>
	</div>
	{{/each}}
</div>
<script type="text/javascript">
	var past_questions_ids = [{{content_data.past_questions_ids}}];//[];
</script>