<div class="span12">
	<form action="user/profile" method="post" autocomplete="off" enctype="multipart/form-data">
		<div class="row-fluid zero-margin">
			<div class="box-profile well">
				<fieldset>
					<h4>Bio Data</h4>
					{{#with user_data}}
					<label class="bio-data profile-label"  for="avatar"><span class="profile-label-text"><img width="60" height="60" src="{{#if avatar}}{{../component_base_url}}assets/avatars/{{avatar}}{{else}}{{../component_base_url}}assets/avatars/default-avatar.png{{/if}}" alt="Avatar" /> </span></label>
					<span style="display:none"  class="input-bio controls input-file">Upload new avatar<input type="file" name="avatar" /></span>					
					<label class="bio-data profile-label"  for="firstname"><span class="profile-label-text">Firstname: </span>{{firstname}}</label>
					<input  type="text" class="input-bio" name="firstname" value="{{firstname}}" placeholder="firstname" style="display:none" />
					<!-- <img  alt="Profile Pic" src="{{user.avatar}}" class="thumbnail" /> -->
					<label class="bio-data profile-label"   for="lastname"><span class="profile-label-text">Lastname: </span>{{lastname}}</label>
					<input type="text"  class="input-bio" name="lastname" value="{{lastname}}" placeholder="lastname" style="display:none"/>
					{{/with}}
					<label class="bio-data profile-label" for="datepicker"><span  class="profile-label-text">Birth Date: </span>{{student_data.dob}}</label>
					<div id="datepicker" class="input-bio input-append datepicker" style="display:none;">
						<input data-format="yyyy-MM-dd" type="text" name="dob" value="{{student_data.dob}}" style="width: 187px;" />
						<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i> </span>
					</div>
					<label class="bio-data profile-label" for="nickname"><span  class="profile-label-text">Nickname: </span>{{student_data.nickname}}</label>
					<input type="text" class="input-bio" name="nickname" value="{{student_data.nickname}}" placeholder="nickname" style="display:none"/>
					<label class="bio-data profile-label" for="gender"><span class="profile-label-text">Gender: </span>{{student_data.gender}}</label>
					<select class="input-bio" name="gender" style="display:none">
						<option value="M" {{#equals_to gender_data.M student_data.gender}} selected="selected" {{/equals_to}}>Male</option>
						<option value="F" {{#equals_to gender_data.M student_data.gender}} selected="selected" {{/equals_to}}>Female</option>
					</select>
					<!-- <input type="text" id="gender" name="gender" value="{{student_data.gender}}" placeholder="gender" style="display:none"/> -->
					<label class="bio-data profile-label" for="fk_country_id"><span class="profile-label-text">Country: </span>{{student_data.country_info.country_name}}</label>
					<select class="input-bio" name="fk_country_id" style="display:none">
						{{#each country_data}}
						<option value="{{this}}" {{#equals_to this student_data.fk_country_id}} selected="selected" {{/equals_to}}>{{country_name}}</option>
						{{/each}}
					</select>

					<!-- <input type="text" id="country" name="country" value="{{country}}" placeholder="country" style="display:none"/> -->
					<a id="bio_edit" class="btn btn-primary" onclick="edit_bio()">Edit</a>
					<input id="bio_done" type="submit" class="btn btn-primary" style="display:none" value="Save" />
				</fieldset>
			</div>
			<div class="box-profile well">
				<fieldset>
					<h4>Contact Details</h4>

					<label class="contact-data profile-label" for="phone"><span class="profile-label-text">Phone: </span>{{student_data.phone}}</label>
					<input  type="text" class="input-contact" name="phone" value="{{student_data.phone}}" placeholder="phone" style="display:none" />
					<label class="contact-data profile-label" for="email"><span class="profile-label-text">Email: </span>{{user_data.email}}</label>
					<input type="text"  class="input-contact" name="email" value="{{user_data.email}}" placeholder="email" style="display:none"/>
					<label class="contact-data profile-label" for="facebook_address"><span class="profile-label-text">Facebook: </span>{{student_data.facebook_address}}</label>
					<input type="text" class="input-contact" name="facebook_address" placeholder="Facebook Address" value="{{student_data.facebook_address}}" style="display:none"/>
					<label class="contact-data profile-label" for="phyiscal_address"><span class="profile-label-text">Physical Address: </span>{{student_data.physical_address}}</label>
					<input type="text" class="input-contact" name="physical_address" placeholder="Physical Address" value="{{student_data.physical_address}}" style="display:none"/>
					<a id="contact_edit" class="btn btn-primary" onclick="edit_contacts()">Edit</a>
					<input id="contact_done" type="submit" class="btn btn-primary" style="display:none" value="Save" />
				</fieldset>
			</div>
			<div class="box-profile well">
				<fieldset>
					<h4>About you</h4>
					<textarea class="span11" name="about" cols="12" rows="10" >{{student_data.about}}</textarea>
					<input id="contact_done" type="submit" class="btn btn-primary"  value="Save" />
				</fieldset>
			</div>
			<div class="box-profile well">
				<fieldset>
					<h4>Educational Background</h4>
					<label class="edu-data profile-label" for="school_name"><span  class="profile-label-text">School: </span ><span>{{user_data.school_info.school_name}}</span></label>
					<input class="input-edu" placeholder="Type a School Name" id="school_name" type="text" value="{{user_data.school_info.school_name}}" style="display:none" name="school_name"/>
					<label class="edu-data profile-label" for="principal"><span  class="profile-label-text">Prinicpal: </span ><span >{{user_data.school_info.principal}}</span></label>
					<input id="principal"  type="text" class="input-edu" name="principal" value="{{user_data.school_info.principal}}" placeholder="Principal" style="display:none" />
					<label class="edu-data profile-label" for="school_address"><span class="profile-label-text">Address: </span ><span >{{user_data.school_info.school_address}}</span></label>
					<input id="school_address"  type="text" class="input-edu" name="school_address" value="{{user_data.school_info.school_address}}" placeholder="Address" style="display:none" />
					<label class="edu-data profile-label" for="school_location" ><span class="profile-label-text">Location: </span ><span >{{user_data.school_info.school_location}}</span></label>
					<input id="school_location"  type="text" class="input-edu" name="school_location" value="{{user_data.school_info.school_location}}" placeholder="Location" style="display:none" />
					<label class="edu-data profile-label" for="school_country" ><span class="profile-label-text">Country: </span ><span>{{user_data.school_info.counry_info.country_name}}</span></label>
					<input id="school_country"  type="text" class="input-edu" name="school_country" value="{{user_data.school_info.school_country}}" placeholder="Country" style="display:none" />
					<label class="edu-data profile-label" for="registration_no"><span class="profile-label-text">Registraion No: </span>{{student_data.registration_no}}</label>
					<input  type="text" class="input-edu" name="registration_no" value="{{student_data.registration_no}}" placeholder="Registration No" style="display:none" />
					<input type="hidden" id="fk_school_id" name="fk_school_id" value="{{user_data.school_info.school_id}}"/>
					<a id="edu_edit" class="btn btn-primary" onclick="edit_edu()">Edit</a>
					<input id="edu_done" type="submit" class="btn btn-primary" style="display:none" value="Save" />
				</fieldset>
			</div>
			<div class="box-profile well">
				<fieldset>
					<h4>Account Security</h4>
					<label class="security-data profile-label" for="security_question" ><span class="profile-label-text">Security Question: </span ><span >{{user_data.security_question}}</span></label>
					<input id="security_question"  type="text" class="input-security input-xlarge" name="security_question" value="{{user_data.security_question}}" placeholder="Type in a Security question" style="display:none" />

					<label class="security-data profile-label" for="answer" ><span class="profile-label-text">Answer: </span ><span>{{user_data.answer}}</span></label>
					<input id="answer"  type="text" class="input-security" name="answer" value="{{user_data.answer}}" placeholder="Answer" style="display:none" />

					<a id="security_edit" class="btn btn-primary" onclick="edit_security()">Edit</a>
					<input id="security_done" type="submit" class="btn btn-primary" style="display:none" value="Save" />
				</fieldset>
			</div>
		</div>
		<div class="row">
			<input type="hidden" name="user_id" value="{{user_data.id}}"  />

		</div>
	</form>
</div>
<script type="text/javascript">var all_schools = {{#php_json school_data}};</script>

