{{#with content_data}}
<div class="modal-header">
	<button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
	{{#if timer}}<span class="pull-right countdown-container">Timer:<span class="label label-info" id="test-countdown"></span></span>{{/if}}
	<h4>{{../page_title}} ({{question_pos}}/{{question_count}})</h4>
</div>
<div class="modal-body">
	{{#if ../user_msg}}
		<div class="alert alert-{{../user_msg.type}} fade in">
			<strong style="text-transform:capitalize;">{{../user_msg.type}}!</strong> {{../user_msg.message_body}}
		</div>
	{{/if}}
	<p style="font-weight: bold">{{question.question}} ({{question.marks}}marks)</p>
	{{#equals_to question.answers_list_count 1}}
	<input type="text" name="ans" id="ans" value="" />
	{{/equals_to}}
	{{#greater_than question.answers_list_count 1}}
	{{#each question.answers_list}}
	<label class="radio"><input type="radio" name="ansOptions" value="{{answer_id}}" />{{answer}}</label>
	{{/each}}
	{{/greater_than}}
</div>
<div class="modal-footer">
	<input type="hidden" id="q_id" value="{{question.question_id}}" />
	{{#if current_section_id}}<input type="hidden" id="section" value="{{current_section_id}}" />{{/if}}
	<input type="hidden" id="mode" value="{{../question_type}}" />
	<button type="button" class="btn btn-primary restart pull-left" {{#if current_section_id}}data-section-id="{{current_section_id}}"{{/if}} data-href="{{../controller_base_url}}take/{{question_mode_id}}" {{#equals_to question_pos 1}}disabled="disabled"{{/equals_to}}><i class="icon-repeat icon-white"></i> Restart {{current_section_name}}</button>
	<button type="button" class="btn btn-primary previous" data-href="{{../current_url}}" {{#equals_to question_pos 1}}disabled="disabled"{{/equals_to}}>&laquo; Previous</button>
	<button type="button" class="btn btn-primary next {{#equals_to question_pos question_count}}complete{{/equals_to}}" data-href="{{../current_url}}">Next &raquo;</button>
</div>
{{#if timer}}
<script type="text/javascript">
	// Count down milliseconds = server_end - server_now = client_end - client_now
	var server_end = {{exp_time}};
	var server_now = {{now}};
	var client_now = new Date().getTime();
	var end = server_end - server_now + client_now;
	// this is the real end time
	
	countdownTimer = setInterval(function() {
		showRemaining('test-countdown')
	}, 1000); 
</script>
{{/if}}
{{#if commentthis}}
<script type="text/javascript">
	{{#if past_questions_ids}}
		past_questions_ids = {{past_questions_ids}};
	{{/if}}	
	
</script>
{{/if}}
{{/with}}
