<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4>{{#if error_title}}{{error_title}}{{else}}Oops! You cannot do that at the moment.{{/if}}</h4>
</div>
<div class="modal-body">
	<p>Sorry, your request cannot be completed at the moment.</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn" data-dismiss="modal">Close</button>
</div>