{{#with content_data}}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4>{{../page_title}} ({{question_pos}}/{{question_count}})</h4>
</div>
<div class="modal-body">
	{{#if user_answer}}
	<div class="alert alert-error fade in">
		<strong style="text-transform:capitalize;">Incorrect!</strong> Sorry, that wasn't the answer..
	</div>
	{{/if}}
	<p style="font-weight: bold">{{question.question}} ({{question.marks}}marks)</p>
	{{#equals_to question.answers_list_count 1}}
	{{#if user_answer}}
	<p>Your answer was "<span class="text-error">{{user_answer}}</span>" 
		but the correct answer was "<span class="text-success">{{question_answer}}</span>"
	</p>
	{{else}}
	<p>The correct answer was "<span class="text-success">{{question_answer}}</span>"</p>
	{{/if}}
	{{/equals_to}}
	{{#greater_than question.answers_list_count 1}}
	{{#each question.answers_list}}
	<label class="radio alert {{#equals_to status 1}}alert-success{{/equals_to}}{{#equals_to answer_id ../user_answer}}alert-error{{/equals_to}}" >
		<input type="radio" {{#equals_to answer_id ../user_answer}}checked="checked"{{/equals_to}} />{{answer}}
	</label>
	{{/each}}
	{{/greater_than}}
	<div class="alert alert-success explantion-box">
		<strong style="text-transform:capitalize;">Explanation</strong>
		<p>{{question_explanation}}</p>
	</div>
</div>
<div class="modal-footer">
	<input type="hidden" name="ans" id="ans" value="{{question_answer}}" />
	{{#if current_section_id}}<input type="hidden" id="section" value="{{current_section_id}}" />{{/if}}
	<input type="hidden" id="q_id" value="{{question.question_id}}" />
	<input type="hidden" id="mode" value="{{../question_type}}" />
	<!--<button type="button" class="btn btn-primary restart pull-left" data-href="{{../controller_base_url}}take/{{question_mode_id}}" {{#equals_to question_pos 1}}disabled="disabled"{{/equals_to}}><i class="icon-repeat icon-white"></i> Restart</button>-->
	<button type="button" class="btn btn-primary previous close-explantion" data-href="{{../current_url}}" {{#equals_to question_pos 1}}disabled="disabled"{{/equals_to}}>&laquo; Previous</button>
	<button type="button" class="btn btn-primary next close-explantion {{#equals_to question_pos question_count}}complete{{/equals_to}}" data-href="{{../current_url}}">Next &raquo;</button>
</div>
{{/with}}
