{{#with content_data}}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4>{{../page_title}}</h4>
</div>
<div class="modal-body">
<div style="text-align: center; font-size: 36px; line-height: 40px;">
	<p style="font-size: 20px; margin-bottom: 0">You score is..</p>
	<div style="width: 50px; margin: 0 auto">
		<span style="display: block">{{user_score}}</span>
		<span style="display: block; padding-top: 3px; border-top: 5px solid">{{total_score}}</span>
	</div>
	{{#if current_section_id}}<input type="hidden" id="section" value="{{current_section_id}}" />{{/if}}
</div>
</div>
<div class="modal-footer">
	{{#unless ../question_type}} <!-- Not lesson mode -->
	<button type="button" class="btn btn-primary restart pull-left" data-href="{{../controller_base_url}}take/{{question_mode_id}}" {{#if current_section_id}}data-section-id="{{current_section_id}}"{{/if}}>
		<i class="icon-repeat icon-white"></i> Retake {{current_section_name}}
	</button>
	{{/unless}}
	{{#unless next_section_id}} <!-- Lesson mode -->
	<button type="button" class="btn" data-dismiss="modal">Close</button>
	{{/unless}}
	{{#unless ../question_type}} <!-- Not lesson mode -->
		{{#if question_type_id}}
			{{#if next_section_id}}
				<button type="button" class="btn btn-primary next-section" data-href="{{../current_url}}" data-section-id="{{next_section_id}}">
					<i class="icon-play icon-white"></i> Start {{next_section_name}}
				</button>
			{{/if}}
			
			{{#if review}}
			<a class="btn btn-primary child" {{#if current_section_id}}data-section-id="{{current_section_id}}"{{/if}} href="#review" data-id="{{question_type_id}}" data-href="{{../controller_base_url}}review/{{question_type_id}}" data-width="480">
				<i class="icon-book"></i> Review {{current_section_name}}
			</a>
			{{/if}}
		{{/if}}
	{{/unless}}
</div>
{{/with}}
