<div class="registration registration-{{theme_name}}" ><!--style="height: 600px;box-shadow: 1px 1px 10px;"-->
	<div class="registration-form-wrapper">
		<form action="user/profile" method="post" id="registration-form" class="form-horizontal registration-form">
			<!--<fieldset>
				<legend>Register</legend>-->
				<div class="control-group">
					<label class="control-label" for="">First Name</label>
					<div class="controls">
						<input type="text" name="firstname" id="firstname" placeholder="" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="">Last Name</label>
					<div class="controls">
						<input type="text" name="lastname"  id="lastname" placeholder="" />						
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="">Username</label>
					<div class="controls">
						<input type="text" id="username"  name="username" placeholder="" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="">Password</label>
					<div class="controls">

						<input type="password" id="password" name="password" id="password" placeholder="" />
						<span class="badge badge-success match-right" style="display: none"><i class="icon-ok icon-white"></i></span>
						<div id="password-meter">
			            	<small>Password strength</small><br />
			    			<div id="progressbar"><div id="progress"></div></div>
			            </div>

					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="">Re-Type Password</label>
					<div class="controls">
						<input type="password" id="password_confirm" name="password_confirm" placeholder="" />
							<span class="badge-success match-right" style="display: none"><i class="icon-ok icon-white"></i></span>
							<span class="badge badge-important match-wrong"><i class="icon-ok icon-remove"></i></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="">Gender</label>
					<div class="controls">
						<select name="gender">
							<option value="M" selected="selected">Male</option>
							<option value="F" >Female</option>
						</select>					
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="">Date of Birth</label>
					<div class="controls">
						<div id="datepicker" class="input-append datepicker">
							<input data-format="yyyy-MM-dd" type="text" name="dob" style="width: 187px" />
							<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i> </span>
						</div>
					</div>
				</div>
				<div class="form-actions">
				<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			<!--</fieldset>-->
		</form>
	</div>
</div>
