<div class="span12">
	<div class="row">
		{{#each content_data}}
			<div class="span4 well profile-container">
				<div class="profile-content row">
					<div class="span3">
						<img src="{{#if avatar}}{{../component_base_url}}assets/avatars/{{avatar}}{{else}}{{../component_base_url}}assets/avatars/default-avatar.png{{/if}}" alt="" class="img-polaroid">
					</div>
					<div class="span8">
						<p style="margin:0 0 10px 10px"><strong>{{#if student_info.nickname}}{{student_info.nickname}}{{else}}{{username}}{{/if}}</strong>
						<br />
						{{#if firstname}}{{firstname}} {{lastname}}{{else}}Anonymous{{/if}}
						<br />
						<small>{{#if school_info.school_name}}{{school_info.school_name}}{{else}}Unknown school{{/if}}</small>
						</p>
					</div>
				</div>
				<div class="profile-content row" >
					 <span class=" badge badge-warning">
						<a href="friends/invite/{{id}}">
							Add to contacts
						</a>			 		
					</span>&nbsp;
				 	<span class=" badge badge-info">
				 		<a onclick="groupInvite({{id}})">
				 			Add to study group
						</a>			 		
					</span>
				</div>			
			</div>
		{{/each}}
	</div>
</div>
{{>contentblocks/group-invite}}