<div class="span12">
	<div class="row">
		<div class="span12"><h5>Start talking now with your friends..</h5></div>
	</div>
	<div class="row">
		{{#each content_data}}
			<div class="span3 well profile-container">
				<div class="profile-content">
					<div class="span3">
						<img src="{{../template_path}}img/user.jpg" alt="" class="img-polaroid">
					</div>
					<div class="span8">
						<p><strong>{{#if student_info.nickname}}{{student_info.nickname}}{{else}}{{username}}{{/if}}</strong>
						<br />
						{{#if firstname}}{{firstname}} {{lastname}}{{else}}Anonymous{{/if}}
						<br />
						<small>{{#if school_info.school_name}}{{school_info.school_name}}{{else}}Unknown school{{/if}}</small>
						</p>
						<span class=" badge badge-warning">
					 		<a href="messages/start/{{id}}">
					 			Start Conversation
					 		</a>			 		
					 	</span>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
	
</div>