<div id='calendar'></div>
<div class="modal fade hide" id="event-plan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Schedule a Study Plan/Event</h3>
	</div>
	<div class="modal-body">
		<div id="form-content"></div>		
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left delete" onclick="deleteEvent()" disabled="disabled">
			Delete
		</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button class="btn btn-primary" onclick="saveStudyPlan()" id="save-event">
			Save changes
		</button>
	</div>
</div>