<div class="row zero-margin">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input type="text" name="search_context" class="input-medium search-query" placeholder="Search your groups">
		<button type="submit" class="btn">
			Search
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>		
		<a href="{{system_functions_url}}edit" role="button"  data-toggle="modal" class="btn btn-success"><i class="icon-plus icon-white"></i> Add Group</a>
	</form>
</div>

<div class="span12">
	<div class="row">
		{{#each content_data}}
			<div class="span4 well profile-container">
				<div class="profile-content row">
					<div class="span3">
						<div class="label label-info">
							<h2 style="margin-bottom: 0px;margin-top: 0px">{{no_group_members}}</h2>
							<small>Members</small>
						</div>						
					</div>
					<div class="span8">
						<p style="margin:0 0 10px 10px"><strong>{{name}}</strong>
						<br />
						<small><i>Created by Admin</i></small>
						<br />
						<span class=" badge badge-warning">
						<a href="studygroups/edit/{{study_group_id}}">
							Manage Group
						</a>			 		
					</span>	
						</p>
					</div>
				</div>						
			</div>
		{{/each}}
	</div>
</div>