<div class="row zero-margin">
	<div class="span3 left-border">
		<div class="group-members" style="margin-bottom: 4px">
			Current Group
		</div>
		<div>
			<div class="profile-content row">
				<div class="span3">
					{{#if group_data.fk_user_id}}
					<div class="badge badge-info">
						<h2 style="margin-bottom: 0px;margin-top: 0px">{{group_data.no_group_members}}</h2>
						<small style="margin-left: -5px">Members</small>
					</div>
					{{/if}}
				</div>
				<div class="span9">
					{{#if group_data.fk_user_id}}
					<p style="margin:0 0 10px 10px">
						<strong>{{group_data.name}}</strong>
						<br />
						<small><i>Created by {{group_data.founder.firstname}} {{group_data.founder.lastname}}</i></small>
						<br />
						{{#equals_to user_id group_data.fk_user_id}}
						[<a onclick="editGroup({{group_data.study_group_id}})"> Edit</a>]
						[<a href="{{system_functions_url}}delete/{{group_data.study_group_id}}"> Delete Group </a>]
						{{else}}
						[<a onClick="leaveGroup({{user_id}},{{group_data.study_group_id}})"> Leave</a>]
						{{/equals_to}}

						{{#equals_to group_data.fk_user_id user_id}}
						{{else}}
						<span style="float: right">[<a class="confirm" onclick="editGroup()">Create New Group</a>]</span>
						{{/equals_to}}
					</p>
					{{else}}
					<span style="float: right">[<a class="confirm" onclick="editGroup()">Create New Group</a>]</span>
					{{/if}}
				</div>
			</div>
			{{#if group_data.fk_user_id}}

			<div class="row zero-margin">
				<div class="row zero-margin">
					{{#if group_data.group_members}}
					{{#iter group_data.group_members}}
					<div class="profile-content row" style="margin-top: 10px">
						<div class="span2">
							<img src="{{#if avatar}}{{../component_base_url}}assets/avatars/{{avatar}}{{else}}{{../component_base_url}}assets/avatars/default-avatar.png{{/if}}" alt="" class="img-polaroid">
						</div>
						<div class="span8">
							<p style="margin:0 0 10px 10px">
								{{#if user_details.firstname}}<strong>{{user_details.firstname}} {{user_details.lastname}}</strong>{{else}}Anonymous{{/if}}
								{{#if user_details.online_status}}<span class="text-success">(Online)</span>{{else}}<span class="text-error">(Offline){{/if}}</span>
								{{#if status}}<small class="text">Accepted</small>{{else}}<small class="text-warning"> Pending</small>{{/if}}
								{{#equals_to ../user_id ../group_data.fk_user_id}}
								<a class="btn btn-mini	" onClick="evict({{user_details.id}},{{../group_data.study_group_id}})" class="">Evict</a>
								{{/equals_to}}
								<br />
								<small>{{#if user_details.school_info.school_name}}{{user_details.school_info.school_name}}{{else}}Unknown school{{/if}}</small>
							</p>
						</div>
					</div>
					<div class="date-posted"></div>
					{{/iter}}
					{{/if}}
				</div>

			</div>
			{{/if}}
		</div>
	</div>
	<div class="span9">
		Chat Area
	</div>
</div>
{{>contentblocks/group-invite}}
{{>contentblocks/edit_study_group}}
