<div class="row">
	<div class="span8">
		<p class="form-label">Subscription for Tasks and Lessons ($2 per subject/month)</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span9">
		<div class="row">
			<div class="span3">
				<div class="btn-group vertical-group" data-toggle="buttons-checkbox" data-name="tnl-subjects" data-section="tasks-lessons">
					<a class="btn" data-value="phy" data-cost="2"><i class="icon-ok"></i> Physics</a>
					<a class="btn" data-value="bio" data-cost="2"><i class="icon-ok"></i> Biology</a>
					<a class="btn" data-value="chem" data-cost="2"><i class="icon-ok"></i> Chemistry</a>
				</div>
			</div>
			<div class="span3">
				<div class="btn-group vertical-group" data-toggle="buttons-checkbox" data-name="tnl-subjects" data-section="tasks-lessons">
					<a class="btn" data-value="math" data-cost="2"><i class="icon-ok"></i> Maths</a>
					<a class="btn" data-value="eng" data-cost="2"><i class="icon-ok"></i> English</a>
					<a class="btn" data-value="swa" data-cost="2"><i class="icon-ok"></i> Swahili</a>
				</div>
			</div>
			<div class="span3">
				<div class="btn-group vertical-group" data-toggle="buttons-checkbox" data-name="tnl-subjects" data-section="tasks-lessons">
					<a class="btn" data-value="gh" data-cost="2"><i class="icon-ok"></i> Ghanean</a>
					<a class="btn" data-value="de" data-cost="2"><i class="icon-ok"></i> German</a>
					<a class="btn" data-value="bel" data-cost="2"><i class="icon-ok"></i> Belgian</a>
				</div>
			</div>
			<div class="span3">
				<div class="btn-group vertical-group" data-toggle="buttons-checkbox" data-name="tnl-subjects" data-section="tasks-lessons">
					<a class="btn" data-value="fr" data-cost="2"><i class="icon-ok"></i> French</a>
					<a class="btn" data-value="arabic" data-cost="2"><i class="icon-ok"></i> Arabic</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<br />
				<!--<p class="form-label">Select the duration</p>-->
				<div class="btn-group horizontal-group" data-toggle="buttons-radio" data-name="tnl-duration" data-section="tasks-lessons">
					<a class="btn" data-value="1"><i class="icon-ok"></i> 1 Month</a>
					<a class="btn" data-value="2"><i class="icon-ok"></i> 2 Months</a>
					<a class="btn" data-value="3"><i class="icon-ok"></i> 3 Months</a>
					<a class="btn" data-value="4"><i class="icon-ok"></i> 4 Months</a>
				</div>
			</div>
		</div>
	</div>
	<div class="span3">
		<div class="row-price" data-name="tnl-subtotal" data-section="tasks-lessons">
			<p class="subtotal">Subtotal:<br /><span class="badge badge-info">$0</span></p>
		</div>
	</div>
</div>
<div class="row"><hr /></div>

<div class="row">
	<div class="span8">
		<p class="form-label">Subscription for Past Questions ($1.55 per subject/month)</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span9">
		<div class="row">
			<div class="span3">
				<div class="btn-group vertical-group" data-toggle="buttons-checkbox" data-name="pqs-subjects" data-section="past-questions">
					<a class="btn" data-value="phy" data-cost="1.55"><i class="icon-ok"></i> Physics</a>
					<a class="btn" data-value="bio" data-cost="1.55"><i class="icon-ok"></i> Biology</a>
					<a class="btn" data-value="chem" data-cost="1.55"><i class="icon-ok"></i> Chemistry</a>
				</div>
			</div>
			<div class="span3">
				<div class="btn-group vertical-group" data-toggle="buttons-checkbox" data-name="pqs-subjects" data-section="past-questions">
					<a class="btn" data-value="math" data-cost="1.55"><i class="icon-ok"></i> Maths</a>
					<a class="btn" data-value="eng" data-cost="1.55"><i class="icon-ok"></i> English</a>
					<a class="btn" data-value="swa" data-cost="1.55"><i class="icon-ok"></i> Swahili</a>
				</div>
			</div>
			<div class="span3">
				<div class="btn-group vertical-group" data-toggle="buttons-checkbox" data-name="pqs-subjects" data-section="past-questions">
					<a class="btn" data-value="gh" data-cost="1.55"><i class="icon-ok"></i> Ghanean</a>
					<a class="btn" data-value="de" data-cost="1.55"><i class="icon-ok"></i> German</a>
					<a class="btn" data-value="bel" data-cost="1.55"><i class="icon-ok"></i> Belgian</a>
				</div>
			</div>
			<div class="span3">
				<div class="btn-group vertical-group" data-toggle="buttons-checkbox" data-name="pqs-subjects" data-section="past-questions">
					<a class="btn" data-value="fr" data-cost="1.55"><i class="icon-ok"></i> French</a>
					<a class="btn" data-value="arabic" data-cost="1.55"><i class="icon-ok"></i> Arabic</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<br />
				<div class="btn-group horizontal-group" data-toggle="buttons-radio" data-name="pqs-duration" data-section="past-questions">
					<a class="btn" data-value="1"><i class="icon-ok"></i> 1 Month</a>
					<a class="btn" data-value="2"><i class="icon-ok"></i> 2 Months</a>
					<a class="btn" data-value="3"><i class="icon-ok"></i> 3 Months</a>
					<a class="btn" data-value="4"><i class="icon-ok"></i> 4 Months</a>
				</div>
			</div>
		</div>
	</div>
	<div class="span3">
		<div class="row-price" data-name="pqs-subtotal" data-section="past-questions">
			<p class="subtotal">Subtotal:<br /><span class="badge badge-info">$0</span></p>
		</div>
	</div>
</div>