<div class="span12">
	<div class="row">
		<div class="span12">
			<form class="form-inline pull-left" autocomplete="off" method="post">
				<label class="materials-filter-label">Subjects:&nbsp;</label>
				<select class="input-medium" name="subject">
					<option value="">Select One</option>
					{{#each subject_list}}
					<option value="{{subject_id}}" {{#equals_to subject_id ../active_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
					{{/each}}
				</select>
				<label class="materials-filter-label">Topics:&nbsp;</label>
				<select class="input-medium" name="topic" disabled="disabled"></select>
				<button class="btn btn-info btn-small" type="submit" data-loading-text="Loading...">Show</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			{{#if active_subject_id}}
			{{#if subject_tests}}
			<table class="table table-hover table-condensed">
				<caption class="materials-subject-heading pq-heading">Tests for {{active_subject_title}}</caption>
				<thead>
					<tr>
						<th>#</th>
						<th>Title of Test</th>
						<th>Topic</th>
						<th>Questions</th>
						<th>Time</th>
						<th class="badge-td">Status</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					{{#iter subject_tests}}
					<tr>
						<td>{{@index}}</td>
						<td>{{test_title}}</td>
						<td>{{lesson.topic_title}}</td>
						<td>{{get_questions_count}}</td>
						<td>{{time}} min</td>
						<td class="badge-td"><span class="badge badge-{{#if get_attempted_questions_count}}success{{else}}warning{{/if}}">{{#if get_attempted_questions_count}}Attempted{{else}}Unattempted{{/if}}</span></td>
						<td>
							{{#if get_attempted_questions_count}}
							<a class="btn btn-mini btn-inverse" href="#review" data-id="{{test_id}}" data-href="{{../controller_base_url}}review/{{test_id}}" data-width="480"><i class="icon-book"></i> Review</a>
							&nbsp;|&nbsp;
							{{/if}}
							<a class="btn btn-mini btn-inverse" href="#take" data-id="{{test_id}}" data-href="{{../controller_base_url}}take/{{test_id}}" data-width="480"><i class="icon-time"></i> {{#if get_attempted_questions_count}}Re-Take{{else}}Take{{/if}}</a></td>
					</tr>
					{{/iter}}
				</tbody>
			</table>
			{{else}}
			<p>No content available at the moment. Please check again soon.</p>
			{{/if}}
			{{else}}
			<p>Please select a subject and/or topic above to see corresponding tests within that subject and/or topic</p>
			{{/if}}
		</div>
	</div>
</div>
<script type="text/javascript">
	var test_question_ids = [{{content_data.test_question_ids}}]//[];
</script>