<legend>List of Announcements</legend>
<div class="row">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input type="text" name="search_context" placeholder="search for announcements" class="input-medium search-query">
		<button type="submit" class="btn">
			Search
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>
		<select name="fk_country_id" id="fk_country_id"  class="input-medium">
			<option value="">Country</option>
			{{#each countries}}
			<option value="{{country_id}}" {{#equals_to country_id ../active_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>
			{{/each}}
		</select>
		<select name="fk_school_id" id="fk_school_id"  class="input-medium">
			<option value="">Schools</option>
			{{#each schools}}
			<option value="{{school_id}}" {{#equals_to school_id ../active_school_id}}selected="selected"{{/equals_to}}>{{school_name}}</option>
			{{/each}}
		</select>
		<select name="fk_education_level_id" id="fk_education_level_id"  class="input-medium">
			<option value="">Education Level</option>
			{{#each educational_levels}}
			<option value="{{education_level_id}}" {{#equals_to education_level_id ../active_education_level_id}}selected="selected"{{/equals_to}}>{{level_name}}</option>
			{{/each}}
		</select>		
		<a onClick="editAnnouncement()" role="button"  data-toggle="modal" class="btn btn-success"><i class="icon-plus icon-white"></i> New Announcement</a>
		<select id='batch-operation'>
			<option>Batch Operations</option>
			<option value="delete">Delete Selected</option>
		</select>
	</form>
	
</div>

<div class="row">
	{{#if no_data}}
		<span class="alert alert-info">{{no_data}}</span>
	{{else}}	
	<table class="table table-striped table-condensed span12">
		<thead>
			<tr>
				<th><input type="checkbox" id="checkAll" /></th>
				<th>Subject</th>
				<th>Country</th>
				<th>Education Level</th>
				<th>School</th>
				<!-- <th>Date</th> -->
				<th>Sponsor</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<form id="announcement-list">
				{{#iter content_data}}
					<tr id="row-{{announcement_id}}">
						<td><input type="checkbox" name="ids[]" value="{{announcement_id}}" /></td>
						<td>{{subject}}</td>
						<th>{{country.country_name}}</th>
						<th>{{level.level_name}}</th>
						<th>{{school.school_name}}</th>
						<!-- <td>{{date}}</td> -->
						<td>{{sponsor}}</td>
						{{#if status}}
						<td><span class="badge badge-success">Published</span></td>
						{{else}}
						<td><span class="badge badge-warning">UnPublished</span></td>
						{{/if}} 
						<td><a class="btn btn-mini" onclick="editAnnouncement({{announcement_id}})"><i class="icon-edit"></i> Edit</a>&nbsp;<a class="btn btn-mini btn-danger" onclick="singleDelete({{announcement_id}})"><i class="icon-trash icon-white"></i> Delete</a></td>
					</tr>
				{{/iter}}
			</form>
		</tbody>
	</table>
	{{/if}}
</div>
{{>admincontentblocks/edit-announcement}}
