<form class="horizontal" id="form-announcement">
	<div class="control-group">
		<label><strong>Subject</strong></label>
		<input type="text" name="subject" value="{{announcement.subject}}" />
	</div>
	<div class="control-group">
		<label><strong>Status</strong></label>
		<select name="status">
			<option value="0" {{#equals_to 0 announcement.status}}selected="selected"{{/equals_to}}>Unpublished</option>
			<option value="1" {{#equals_to 1 announcement.status}}selected="selected"{{/equals_to}}>Published</option>
		</select>
	</div>
	<div class="control-group">
		<label><strong>Country</strong></label>
		<select name="fk_country_id" {{#if role}} disabled="diabled"{{/if}}>
			<option>Country</option>
			{{#each countries}}
			<option value="{{country_id}}" {{#equals_to country_id ../announcement.fk_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>			
			{{/each}}
		</select>
	</div>
	<div class="control-group">
		<label><strong>Education Level</strong></label>
		<select name="fk_education_level_id"{{#if role}} disabled="diabled"{{/if}} >
			<option>Education Level</option>
			{{#each levels}}
				<option value="{{education_level_id}}" {{#equals_to education_level_id ../announcement.fk_education_level_id}}selected="selected"{{/equals_to}}>{{level_name}}</option>
			{{/each}}
		</select>
	</div>
	<div class="control-group">
		<label><strong>School</strong></label>
		<select name="fk_school_id">
			<option>School</option>
			{{#each schools}}
				<option value="{{school_id}}" {{#equals_to school_id ../announcement.fk_school_id}}selected="selected"{{/equals_to}}>{{school_name}}</option>
			{{/each}}
		</select>
	</div>
	<div class="control-group">
		<label><strong>Sponsor</strong></label>
		<input type="text" name="sponsor" value="{{announcement.sponsor}}"/>
	</div>	
	<div class="control-group">
		<label><strong>Message</strong></label>
		<textarea name="message" class="span10 html-editor" rows="10">{{announcement.message}}</textarea>
	</div>		
	<input type="hidden" name="announcement_id" value="{{announcement.announcement_id}}" />					
</form>