{{#iter content_data}}
<tr id="row-{{announcement_id}}">
	<td>
	<input type="checkbox" name="ids[]" value="{{announcement_id}}" />
	</td>
	<td>{{subject}}</td>
	<th>{{country.country_name}}</th>
	<th>{{level.level_name}}</th>
	<th>{{school.school_name}}</th>
	<!-- <td>{{date}}</td> -->
	<td>{{sponsor}}</td>
	{{#if status}}
	<td><span class="badge badge-success">Published</span></td>
	{{else}}
	<td><span class="badge badge-warning">UnPublished</span></td>
	{{/if}}
	<td><a class="btn btn-mini" onclick="editAnnouncement({{announcement_id}})"><i class="icon-edit"></i> Edit</a>&nbsp;<a class="btn btn-mini btn-danger" onclick="singleDelete({{announcement_id}})"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>
{{/iter}}

