<legend>List of Countries</legend>
<div class="row">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input type="text" name="search_context" class="input-medium search-query" placeholder="Search for a country">
		<button type="submit" class="btn">
			Search
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>		
		<a href="#edit-country" role="button"  data-toggle="modal" class="btn btn-success pull-right"><i class="icon-plus icon-white"></i> New Country</a>
	</form>
</div>

<div class="row">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Country</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#iter content_data}}
				{{>admincontentblocks/country-list-items}}
			{{/iter}}
		</tbody>
	</table>
</div>
{{>admincontentblocks/edit-country}}
