<tr>
	<td>{{@index}}</td>
	<td>{{country_name}}</td>
	<td><a class="btn btn-mini" onclick="editCountry({{country_id}})"><i class="icon-edit"></i> Edit</a> <a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>

