<!-- Modal -->
<div id="edit-education-level" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-education-level" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel" style="padding-left: 33px">Add/Edit Education Level</h3>
	</div>
	<div class="modal-body" style="padding-left: 50px">
		
		<div class="alert" id="subtopic-message" style="display: none"></div>
		<div class="ajax-progress offset3" style="display:none">
			<img src="{{template_path}}img/ajax-loader.gif" />
			<span> <b></b>Fetching Subject...<b></b></span>
			</div>
		<form id="form-education-level" class="horizontal ">
			<div class="control-group">
				<label>Education Level Name</label>
				<input name="level_name" type="text" class="input-xlarge" value="{{level_name}}" />
			</div>
			<select name="fk_country_id">
				<option value="">Country</option>
				{{#each countries}}
					<option value="{{country_id}}" {{#equals_to country_id ../fk_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>
				{{/each}}				
			</select>
			<div class="control-group">
				<label>Description</label>
				<textarea name="level_description" rows="10" class="span10"> {{level_description}}</textarea>
			</div>
			<input type="hidden" name="education_level_id" value="{{education_level_id}}" />				
		</form>
		
		
	
	</div>
	<div class="modal-footer">
		<a data-dismiss="modal" href="#" class="btn">Close</a>
		<a href="#" class="btn btn-primary" onclick="saveLevel()">Save changes</a>
	</div>
	
</div>