<div style="margin-left: 30px; margin-right: 30px">
<legend id="notes-tab-heading" style="display:block">Subtopic Notes</legend>
<legend id="trial-questions-tab-heading" style="display:none">Subtopic Trial Question</legend>
<legend id="subtopic-past-questions-tab-heading" style="display:none">Subtopic Past Questions</legend>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="lesson-tabs">
  	<li class="active"><a href="#notes" data-toggle="tab" id="notes-tab">Notes</a></li>    
    <li ><a href="#trial-questions" data-toggle="tab" id="trial-questions-tab">Trial Questions</a></li>
    <li><a href="#past-questions" data-heading="past-questions" data-toggle="tab" id="subtopic-past-questions-tab">Past Questions</a></li>    
  </ul>
  <div class="tab-content"> 
  	 <div class="tab-pane active" id="notes">
    	{{>admincontentblocks/subtopic-notes}}
    </div>   
    <div class="tab-pane" id="trial-questions">
    	{{>admincontentblocks/trial-question-list}}
    </div>
    <div class="tab-pane" id="past-questions">
    	{{>admincontentblocks/subtopic-past-questions}}    
    </div>   
  </div>
  <input type="hidden" id="subtopic" value="{{subtopic.subtopic_id}}" />
</div>
</div>