<div class="row zero-margin">
	<form method="post" class="form-horizontal">
		<div class="control-group">
			<label for=""><strong>Title*</strong></label>			
			<input name="test_title" type="text" class="input-xlarge" value="{{test_data.test_title}}" required="required" />
		</div>
		<div class="control-group">
			<label><strong>Time*</strong></label>		
			<input  name="time" type="text" class="input-small	" value="{{test_data.time}}" required="required" />						
		</div>
		<div class="row zero-margin">
			<div class="span5">
				<div class="control-group">
		 	<label><strong>Country</strong></label>
			<select name="fk_country_id" id="country">
				<option value="">Country</option>
				{{#each countries}}
					<option value="{{country_id}}" {{#equals_to country_id ../lesson_data.fk_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>
				{{/each}}
				
			</select>
		</div>
		<div class="control-group">
			<label><strong>Education Level</strong></label>
			<select name="fk_education_level_id" id="level">
				<option value="">Education Level</option>
				{{#each education_level_data}}
					<option value="{{education_level_id}}" {{#equals_to education_level_id ../lesson_data.fk_education_level_id}}selected="selected"{{/equals_to}}>{{level_name}}</option>
				{{/each}}				
			</select>
		</div>
			</div>
			<div class="span5">
				<div class="control-group">
		 	<label><strong>Subject</strong></label>
			<select name="fk_subject_id" id="subject">
				<option value="">Subject</option>
				{{#each subject_data}}
					<option value="{{subject_id}}" {{#equals_to subject_id ../lesson_data.fk_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
				{{/each}}
				
			</select>
		</div>		
		 <div class="control-group">
		 	<label><strong>Topic</strong></label>
			<select name="fk_lesson_id" id="topics">
				<option value="">-Topic-</option>
				{{#each lesson_data}}
					<option value="{{lesson_id}}" {{#equals_to lesson_id ../test_data.fk_lesson_id}}selected="selected"{{/equals_to}}>{{topic_title}} ({{level.level_name}})</option>
				{{/each}}				
			</select>
		</div>

			</div>
		</div>
		 
		 		
		<div class="control-group">
			<label for=""><strong>Instructions</strong></label>
			<textarea name="test_instructions" class="span8 html-editor" rows="10"  >{{test_data.test_instructions}}</textarea>
		</div>
		<input type="hidden" value="{{test_data.test_id}}" name="test_id" id="test_id" />
		<div>
			<input type="submit" class="btn btn-primary pull-left" value="Save Topic" />
		</div>
	</form>
</div>