<!--- -->
<div>
	<form method="post" class="form-horizontal">
		<div class="control-group">
			<label for=""><strong>Title*</strong></label>
			<input name="past_question_title" required="required" type="text" class="input-xlarge" value="{{pastquestion_data.past_question_title}}" />

		</div>
		<div class="row zero-margin">
			<div class="span5">
				<div class="control-group" >
					<label for=""><strong>Country</strong></label>
					<select name="fk_country_id" id="country">
						<option value="">All</option>
						{{#each countries}}
						<option value="{{country_id}}" {{#equals_to country_id ../pastquestion_data.fk_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>
						{{/each}}

					</select>
				</div>
				<div class="control-group">
					<label for=""><strong>Education Level</strong></label>
					<select name="fk_education_level_id" id="level">
						<option value="">Education Level</option>
						{{#each education_level_data}}
						<option value="{{education_level_id}}" {{#equals_to education_level_id ../pastquestion_data.fk_education_level_id}}selected="selected"{{/equals_to}}>{{level_name}}</option>
						{{/each}}

					</select>
				</div>
				<div class="control-group">
					<label for=""><strong>Subject</strong></label>
					<select name="fk_subject_id">
						<option value="">-Select a subject-</option>
						{{#each subjects}}
						<option value="{{subject_id}}" {{#equals_to subject_id ../pastquestion_data.fk_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="span5">
				<div class="control-group">
					<label><strong>Year*</strong></label>
					<input  name="year" required="required" type="text" class="input-xlarge" value="{{pastquestion_data.year}}" />
				</div>
				<div class="control-group">
					<label><strong>Time*</strong></label>
					<input  name="time" required="required" type="text" class="input-xlarge" value="{{pastquestion_data.time}}" />
				</div>
				<div class="control-group">
					<label for=""><strong>Exam Session</strong></label>
					<select name="fk_exam_session_id">
						<option value="">-Select an Exam Session-</option>
						{{#each exam_session_data}}
						<option value="{{exam_session_id}}" {{#equals_to exam_session_id ../pastquestion_data.fk_exam_session_id}}selected="selected"{{/equals_to}}>{{exam_session_title}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</div>

		<div class="control-group">
			<label for=""><strong>Description</strong></label>
			<textarea name="past_question_description" class="span8 html-editor" rows="10"  >{{pastquestion_data.past_question_description}}</textarea>
		</div>
		<input type="hidden" value="{{pastquestion_data.past_question_id}}" name="past_question_id" id="past_question_id" />
		<div>
			<input type="submit" class="btn btn-primary pull-left" value="Save Past Question" />
		</div>
	</form>
</div>