<!-- Modal -->
<div id="edit-subject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-subject" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel" style="padding-left: 33px">Add/Edit Subject</h3>
	</div>
	<div class="modal-body" style="padding-left: 50px">
		
		<div class="alert" id="subtopic-message" style="display: none"></div>
		<div class="ajax-progress offset3" style="display:none">
			<img src="{{template_path}}img/ajax-loader.gif" />
			<span> <b></b>Fetching Subject...<b></b></span>
			</div>
		<form id="form-subject" class="horizontal ">
			<div class="control-group">
				<label>Subject Title</label>
				<input name="subject_title" type="text" class="input-xlarge" value="{{subject_title}}" />
			</div>
			<div class="control-group">
				<label>Description</label>
				<textarea name="subject_description" rows="10" > {{subject_description}}</textarea>
			</div>
			<input type="hidden" name="subject_id" value="{{subject_id}}" />				
		</form>
		
		
	
	</div>
	<div class="modal-footer">
		<a data-dismiss="modal" href="#" class="btn">Close</a>
		<a href="#" class="btn btn-primary" onclick="saveSubject()">Save changes</a>
	</div>
	
</div>