<!-- Modal -->
<div id="edit-session" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-session" aria-hidden="true" data-width="760">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel" style="padding-left: 33px">Add/Edit Exam Session
	</div>
	<div class="modal-body" style="padding-left: 50px">
		<div class="alert" id="session-message" style="display: none"></div>
		<div class="offset5 loader"><img src="{{template_path}}img/ajax-loader.gif" /></div>
		<div class="form-holder"></div>
	
	</div>
	<div class="modal-footer">
		<a data-dismiss="modal" href="#" class="btn">Close</a>
		<a id="save-session" class="btn btn-primary" >Save changes</a>
	</div>
	
</div>