<legend id="topic-tab-heading">{{#if lesson_data.lesson_id}}Editing a Topic{{else}}Creating a Topic{{/if}}</legend>
<legend id="subtopics-tab-heading" style="display:none">{{lesson_data.country.country_name}} : {{lesson_data.level.level_name}} : {{lesson_data.subject.subject_title}}</legend>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="lesson-tabs">
    <li class="active"><a href="#tab1" id="topic-tab" data-toggle="tab">Topic Info</a></li>
    <li><a href="#tab2" id="subtopics-tab"   data-toggle="tab">Subtopics</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {{>admincontentblocks/edit-topic-info}}
    </div>
    <div class="tab-pane" id="tab2">
    	{{#if lesson_data.lesson_id}}
      		{{>admincontentblocks/subtopic-list}}
	    {{else}}
	    	<div class="alert alert-info">Please ensure you have saved the lesson information before attempting to add a subtopic</div>    	
	    {{/if}}      
    </div>  
  </div>
</div>