<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="lesson-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">
    	{{#if test_data.test_title}}
			<strong>{{test_data.test_title}} : </strong>
		{{else}}
			<strong>New Test : </strong>
		{{/if}}
    	Test Info</a></li>
    <li><a href="#tab2" id="test-questions-tab"  data-toggle="tab">Questions</a></li>        
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {{>admincontentblocks/edit-test-info}}
    </div>
    <div class="tab-pane" id="tab2">
    {{#if test_data.test_id}}
      	{{>admincontentblocks/test-questions-list}}
    {{else}}
    	<div class="alert alert-info">Please save the test info first before adding a questions</div>    	
    {{/if}}
    </div>    
  </div>
</div>