<div>
	<form method="post">
		<div class="control-group">
			<label for="">Topic Name*</label>
			<input name="topic_title" required="required" type="text" class="input-xlarge" value="{{lesson_data.topic_title}}" />
		</div>
		<div class="control-group" >
			<label for="">Country</label>
			<select name="fk_country_id" id="country">
				<option value="">All</option>
				{{#each countries}}
					<option value="{{country_id}}" {{#equals_to country_id ../lesson_data.fk_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>
				{{/each}}
				
			</select>
		</div>
		<div class="control-group">
			<label for="">Education Level</label>
			<select name="fk_education_level_id" id="level">
				<option value="">Education Level</option>
				{{#each education_level_data}}
					<option value="{{education_level_id}}" {{#equals_to education_level_id ../lesson_data.fk_education_level_id}}selected="selected"{{/equals_to}}>{{level_name}}</option>
				{{/each}}
				
			</select>
		</div>
		 <div class="control-group">
		 	<label for="">Subject</label>
			<select name="fk_subject_id">
				<option value="">Subject</option>
				{{#each subject_data}}
					<option value="{{subject_id}}" {{#equals_to subject_id ../lesson_data.fk_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
				{{/each}}
				
			</select>
		</div>		
		<div class="control-group">
			<label for="">Introduction</label>
			<div class="controls">
				<textarea name="topic_introduction" class="span8 html-editor" rows="10"  >{{lesson_data.topic_introduction}}</textarea>
			</div>
			
		</div>
		<input type="hidden" value="{{lesson_data.lesson_id}}" name="lesson_id" id="lesson_id" />
		<div class="form-actions">
			<input type="submit" class="btn btn-primary btn-large" value="Save" />
		</div>
	</form>
</div>