<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="pastquestion-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">
    	{{#if pastquestion_data.past_question_title}}
			<strong>{{pastquestion_data.past_question_title}} : </strong>
		{{else}}
			<strong>New Past Question Set : </strong>
		{{/if}}
    	Past Question Info</a></li>
    <li><a href="#tab2" id="past-question-sections-tab" data-toggle="tab">Sections</a></li>
    <li><a href="#tab3" id="past-questions-tab"  data-toggle="tab">Questions</a></li>        
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {{>admincontentblocks/edit-past-question-info}}
    </div>
    <div class="tab-pane" id="tab2">
		{{#if pastquestion_data.past_question_id}}
	  		{{>admincontentblocks/section-list}}
	    {{else}}
	    	<div class="alert alert-info">Please save the past question information first before attempting to add a section</div>    	
	    {{/if}}      
    </div>
    <div class="tab-pane" id="tab3">
    {{#if pastquestion_data.past_question_id}}
      	{{>admincontentblocks/past-questions-list}}
    {{else}}
    	<div class="alert alert-info">Please save the past question information first before adding a questions</div>    	
    {{/if}}
    </div>    
  </div>
</div>