<!-- Modal -->
<div id="edit-country" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-country" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel" style="padding-left: 33px">Add/Edit Country</h3>
	</div>
	<div class="modal-body" style="padding-left: 50px">
		
		<div class="alert" id="subtopic-message" style="display: none"></div>
		<div class="loader offset3" style="display:none">
			<img src="{{template_path}}img/ajax-loader.gif" />
		</div>
		<form id="form-country" class="horizontal ">
			<div class="control-group">
				<label>Country Name:</label>
				<input name="country_name" type="text" class="input-xlarge" value="{{country_name}}" />
			</div>			
			<input type="hidden" name="country_id" value="{{country_id}}" />				
		</form>
		
		
	
	</div>
	<div class="modal-footer">
		<a data-dismiss="modal" href="#" class="btn">Close</a>
		<a href="#" class="btn btn-primary" onclick="saveCountry()">Save changes</a>
	</div>
	
</div>