<div>
	<form method="post">
		<div class="row" style="margin-left: 5px">
			<div class="span6">
				<div class="control-group">
					<label for="">Mock Exam Title*</label>
					<input type="text" required="required" class="input-xlarge" name="mock_exam_title" value="{{mock_exam_data.mock_exam_title}}" />
				</div>
				<div class="control-group">
					<select id="country" name="fk_country_id">
						<option value="">Country</option>
						{{#each countries}}
						<option value="{{country_id}}" {{#equals_to country_id ../mock_exam_data.fk_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>
						{{/each}}

					</select>
				</div>
				<div class="control-group">
					<select id="level" name="fk_education_level_id">
						<option value="">Education Level</option>
						{{#each education_level_data}}
						<option value="{{education_level_id}}" {{#equals_to education_level_id ../mock_exam_data.fk_education_level_id}}selected="selected"{{/equals_to}}>{{level_name}}</option>
						{{/each}}

					</select>
				</div>
				<div class="control-group">
					<select id="subject" name="fk_subject_id">
						<option value="">Subject</option>
						{{#each subject_data}}
						<option value="{{subject_id}}" {{#equals_to subject_id ../mock_exam_data.fk_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
						{{/each}}

					</select>
				</div>

			</div>
			<div class="span6">
				<div class="control-group">
					<label for="">Year*</label>
					<input type="text" required="required" class="input-xlarge" name="year" value="{{year}}" />
				</div>
				<div class="control-group">
					<label for="">Time*</label>
					<input type="text" required="required" class="input-xlarge" name="mock_exam_time" value="{{mock_exam_data.mock_exam_time}}" />
				</div>
				
			</div>
		</div>
		<div class="row" style="margin-left: 5px">
			<div class="control-group">
				<label for="">Instructions</label>
				<div class="controls">
					<textarea name="mock_exam_instructions" class="span8 html-editor" rows="10"  >{{mock_exam_data.mock_exam_instructions}}</textarea>
				</div>

			</div>
		<input type="hidden" value="{{mock_exam_data.mock_exam_id}}" name="mock_exam_id" id="mock_exam_id" />
			<div class="form-actions">
				<input type="submit" class="btn btn-primary btn-large" value="Save" />
			</div>
		</div>

	</form>
</div>