<!-- Modal -->
<div id="edit-subtopic" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-subptoic" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel" style="padding-left: 33px">Add/Edit Subtopic</h3>
	</div>
	<div class="modal-body" style="padding-left: 50px">
		
		<div class="alert" id="subtopic-message" style="display: none"></div>			
		<div class="form-holder"></div>
	
	</div>
	<div class="modal-footer">
		<a data-dismiss="modal" href="#" class="btn">Close</a>
		<a href="#" class="btn btn-primary" id="save-subtopic">Save changes</a>
	</div>
	
</div>