<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="mock-exam-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Mock Exam Info</a></li>
    <li><a href="#tab2" id="mock-exam-sections-tab" data-toggle="tab">Sections</a></li>
    <li><a href="#tab3" id="mock-exam-questions-tab" data-toggle="tab">Questions</a></li>      
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      {{>admincontentblocks/edit-mock-exam-info}}
    </div>
    <div class="tab-pane" id="tab2">
    	{{#if mock_exam_data.mock_exam_id}}
      		{{>admincontentblocks/section-list}}
	    {{else}}
	    	<div class="alert alert-info">Please save the mock exam information first before attempting to add a section</div>    	
	    {{/if}}      
    </div>
    <div class="tab-pane" id="tab3">
    	{{#if mock_exam_data.mock_exam_id}}
      		{{>admincontentblocks/mock-question-list}}
	    {{else}}
	    	<div class="alert alert-info">Please ensure you have atleast one mock section before attempting to add a question</div>    	
	    {{/if}}      
    </div>   
  </div>
</div>
