<tr>
	<td>{{level_name}}</td>
	<td>{{level_description}}</td>
	<td><a class="btn btn-mini" onclick="editLevel({{education_level_id	}})"><i class="icon-edit"></i> Edit</a> <a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>

