<div class="row">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input name="search_context" type="text" class="input-medium search-query">
		<button type="submit" class="btn">
			Search
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>		
		<a href="#edit-education-level" role="button"  data-toggle="modal" class="btn btn-success pull-right"><i class="icon-plus icon-white"></i> New Level</a>
	</form>
</div>

<div class="row">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Level</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each content_data}}
				{{>admincontentblocks/education-level-list-items}}
			{{/each}}
		</tbody>
	</table>
</div>
{{>admincontentblocks/edit-education-level}}
