<div class="row">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input type="text" name="search_context" class="input-medium search-query">
		<button type="submit" class="btn">
			Search
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>		
		<a onClick="editSession()" role="button"  data-toggle="modal" class="btn btn-success pull-right"><i class="icon-plus icon-white"></i> New Exam Session</a>
	</form>
</div>

<div class="row">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#iter content_data}}
				<tr>
					<td>{{@index}}</td>
					<td>{{exam_session_title}}</td>
					<td><a class="btn btn-mini" onclick="editSession({{exam_session_id}})"><i class="icon-edit"></i> Edit</a><a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
				</tr>
			{{/iter}}
		</tbody>
	</table>
</div>
{{>admincontentblocks/edit-session}}
