<legend>List of Lessons</legend>
<div class="row">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input type="text" name="search_context" value="{{current_search_context}}" class="input-large search-query" placeholder="search for lessons">
		<button type="submit" class="btn">
			<i class="icon-search"></i>
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>
		<select name="fk_country_id" id="fk_country_id"  class="input-medium filters">
			<option value="">Countries</option>
			{{#each countries}}
			<option value="{{country_id}}">{{country_name}}</option>
			{{/each}}
		</select>
		<select name="fk_subject_id" id="fk_subject_id"  class="input-medium filters">
			<option value="">Subject</option>
			{{#each subjects}}
			<option value="{{subject_id}}">{{subject_title}}</option>
			{{/each}}
		</select>
		<select name="fk_education_level_id" id="fk_education_level_id" class="input-medium filters">
			<option value="">Education Level</option>
			{{#each educational_levels}}
			<option value="{{education_level_id}}">{{level_name}}</option>
			{{/each}}
		</select>
		<a href="admin/lessons/edit" class="btn btn-success add-button"><i class="icon-plus icon-white"></i> New Lesson</a>
	</form>
</div>
<div class="row has-add-button">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Topic</th>
				<th>Subject</th>
				<th>Education Level</th>
				<th>Country</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each content_data}}
				<tr>
					<td>{{topic_title}}</td>
					<td>{{subject.subject_title}}</td>
					<td>{{level.level_name}}</td>
					<td>{{country.country_name}}</td>
					<td><a class="btn btn-mini" href="admin/lessons/edit/{{lesson_id}}"><i class="icon-edit"></i> Edit</a><a class="btn btn-mini btn-danger" href="admin/lessons/edit/{{lesson_id}}"><i class="icon-trash icon-white"></i> Delete</a></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>
