{{#iter mock_exam_question_data}}
<tr id="question-{{mock_exam_question_id}}">
	<td>{{@index}}</td>
	<td>{{question}}</td>
	<td>{{section_title}}</td>
	<td>{{order}}</td>
	<td>{{marks}}</td>
	<td><a class="btn btn-mini" onclick="editMockQuestion({{mock_exam_question_id}})"><i class="icon-edit"></i> Edit</a> <a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>
{{/iter}}
