{{#each content_data}}
<tr>
	<td>
	<input type="checkbox" name="ids[]" value="{{mock_exam_id}}" />
	</td>
	<td>{{subject.subject_title}}</td>
	<td>{{mock_exam_title}}</td>
	{{#if published}}
	<td><span class="badge badge-success">Published</span></td>
	{{else}}
	<td><span class="badge badge-warning">UnPublished</span></td>
	{{/if}}
	<td>{{level.level_name}}</td>
	<td>{{country.country_name}}</td>
	<td>{{year}}</td>
	<td><a href="admin/mockexams/edit/{{mock_exam_id}}" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>&nbsp;&nbsp;<a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>
{{/each}}
