<div class="row zero-margin">
	<select id="fk_section_id">
		<option value="">All Sections</option>
		{{#each sections}}
		<option value="{{section_id}}" {{#equals_to section_id ../active_section_id}}selected="selected"{{/equals_to}}>{{section_title}}</option>
		{{/each}}
	</select>
	<a class="btn btn-success pull-right" onClick="editMockQuestion()" role="button"  data-toggle="modal"><i class="icon-plus icon-white"></i> New Question</a>
</div>
<table class="table table-striped table-condensed" id="table-mock-exam-questions">
	<thead>
		<tr>
			<th>#</th>
			<th>Question</th>
			<th>Section</th>
			<th>Order</th>
			<th>Marks</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#iter mock_exam_question_data}}
		<tr id="question-{{mock_exam_question_id}}">
			<td>{{@index}}</td>
			<td>{{question}}</td>
			<td>{{section_title}}</td>
			<td>{{order}}</td>
			<td>{{marks}}</td>
			<td><a class="btn btn-mini" onclick="editMockQuestion({{mock_exam_question_id}})"><i class="icon-edit"></i> Edit</a><a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
		</tr>
		{{/iter}}
	</tbody>
</table>
<input type="hidden" id="mock_exam_id" value="{{mock_exam_id}}" />
{{>admincontentblocks/edit-question}}
