<legend>
	List of Mock Exams
</legend>
<div class="row test-filters">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input type="text" name="search_context" class="input-large search-query" placeholder="Search Mock Exams">
		<button type="submit" class="btn">
			<i class="icon-search"></i>
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>
		<select name="fk_country_id" id="fk_country_id"  class="input-medium">
			<option value="">Country</option>
			{{#each countries}}
			<option value="{{country_id}}" {{#equals_to country_id ../active_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>
			{{/each}}
		</select>
		<select name="fk_subject_id" id="fk_subject_id"  class="input-medium">
			<option value="">Subject</option>
			{{#each subjects}}
			<option value="{{subject_id}}" {{#equals_to subject_id ../active_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
			{{/each}}
		</select>
		<select name="fk_education_level_id" id="fk_education_level_id"  class="input-medium">
			<option value="">Education Level</option>
			{{#each educational_levels}}
			<option value="{{education_level_id}}" {{#equals_to education_level_id ../active_education_level_id}}selected="selected"{{/equals_to}}>{{level_name}}</option>
			{{/each}}
		</select>
	</form>
</div>
<div class="row">
	<a class="btn btn-success" onclick="publish('admin/mockexams','mock-exam-list')" ><i class="icon-ok icon-white"></i> Publish </a>
	<a class="btn btn-warning controls" onclick="unPublish('admin/mockexams','mock-exam-list')" ><i class="icon-lock icon-white"></i> Unpublish </a>
	<a href="admin/mockexams/edit" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i> New Mock Exam</a>
</div>
<div class="row">
	<form id="mock-exam-list">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>
					<input type="checkbox" id="checkAll" />
					</th>
					<th>Subject</th>
					<th>Title</th>
					<th>Status</th>
					<th>Education Level</th>
					<th>Country</th>
					<th>Year</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each content_data}}
				<tr>
					<td>
					<input type="checkbox" name="ids[]" value="{{mock_exam_id}}" />
					</td>
					<td>{{subject.subject_title}}</td>
					<td>{{mock_exam_title}}</td>
					{{#if published}}
					<td><span class="badge badge-success">Published</span></td>
					{{else}}
					<td><span class="badge badge-warning">UnPublished</span></td>
					{{/if}}
					<td>{{level.level_name}}</td>
					<td>{{country.country_name}}</td>
					<td>{{year}}</td>
					<td><a href="admin/mockexams/edit/{{mock_exam_id}}" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>&nbsp;&nbsp;<a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</form>
</div>
