<legend>
	List of Past Questions
</legend>
<div class="row test-filters">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input type="text" name="search_context" class="input-large search-query" placeholder="Search Past Questions">
		<button type="submit" class="btn">
			<i class="icon-search"></i>
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>
		<select name="fk_country_id" id="fk_country_id"  class="input-medium">
			<option value="">Country</option>
			{{#each countries}}
			<option value="{{country_id}}" {{#equals_to country_id ../active_country_id}}selected="selected"{{/equals_to}}>{{country_name}}</option>
			{{/each}}
		</select>
		<select name="fk_subject_id" id="fk_subject_id"  class="input-medium">
			<option value="">Subject</option>
			{{#each subjects}}
			<option value="{{subject_id}}" {{#equals_to subject_id ../active_subject_id}}selected="selected"{{/equals_to}}>{{subject_title}}</option>
			{{/each}}
		</select>
		<select name="fk_education_level_id" id="fk_education_level_id"  class="input-medium">
			<option value="">Education Level</option>
			{{#each educational_levels}}
			<option value="{{education_level_id}}" {{#equals_to education_level_id ../active_education_level_id}}selected="selected"{{/equals_to}}>{{level_name}}</option>
			{{/each}}
		</select>
	</form>
</div>
<div class="row">
	<a class="btn btn-success" onclick="publish('admin/pastquestions','past-question-list')" ><i class="icon-ok icon-white"></i> Publish </a>
	<a class="btn btn-warning controls" onclick="unPublish('admin/pastquestions','past-question-list')" ><i class="icon-lock icon-white"></i> Unpublish </a>
	<a href="admin/pastquestions/edit" class="btn btn-primary add-button pull-right"><i class="icon-plus icon-white"></i> New Past Question</a>
</div>
<div class="row has-add-button">
	<form id="past-question-list">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>
				<input type="checkbox" id="checkAll" />
				</th>
				<th>Title</th>
				<th>Time</th>
				<th>Status</th>
				<th>Country</th>
				<th>Education Level</th>
				<th>Subject</th>
				<th>Exam Session</th>
				<th>Year</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each content_data}}
			<tr>
				<td>
				<input type="checkbox" name="ids[]" value="{{past_question_id}}" />
				</td>
				<td>{{past_question_title}}</td>
				<td>{{time}}</td>
				{{#if published}}
				<td><span class="badge badge-success">Published</span></td>
				{{else}}
				<td><span class="badge badge-warning">UnPublished</span></td>
				{{/if}}
				<td>{{country.country_name}}</td>
				<td>{{level.level_name}}</td>
				<td>{{subject.subject_title}}</td>
				<td>{{session.exam_session_title}}</td>
				<td>{{year}}</td>
				<td><a class="btn btn-mini" href="admin/pastquestions/edit/{{past_question_id}}"><i class="icon-edit"></i> Edit</a><a class="btn btn-mini btn-danger" href="admin/pastquestions/delete/{{past_question_id}}"><i class="icon-trash icon-white"></i> Delete</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	</form>
</div>