{{#each content_data}}
<tr>
	<td>
	<input type="checkbox" name="ids[]" value="{{past_question_id}}" />
	</td>
	<td>{{past_question_title}}</td>
	<td>{{time}}</td>
	{{#if published}}
	<td><span class="badge badge-success">Published</span></td>
	{{else}}
	<td><span class="badge badge-warning">UnPublished</span></td>
	{{/if}}
	<td>{{country.country_name}}</td>
	<td>{{level.level_name}}</td>
	<td>{{subject.subject_title}}</td>
	<td>{{session.exam_session_title}}</td>
	<td>{{year}}</td>
	<td><a class="btn btn-mini" href="admin/pastquestions/edit/{{past_question_id}}"><i class="icon-edit"></i> Edit</a><a class="btn btn-mini btn-danger" href="admin/pastquestions/delete/{{past_question_id}}"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>
{{/each}}
