<div class="row">
	<a class="btn btn-success pull-right" onClick="editPastQuestion()" role="button"  data-toggle="modal"><i class="icon-plus icon-white"></i> New Question</a>

</div>
<div>
	<table class="table table-striped table-condensed" id="table-past-questions">
		<thead>
			<tr>
				<th>#</th>
				<th>Question</th>
				<th>Marks</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#iter question_data}}
			<tr>
				<td>{{@index}}</td>
				<td>{{question.question}}</td>
				<td>{{question.marks}}</td>
				{{#if ../addContext}}
				<td><a class="btn btn-mini btn-success" onclick="addSubtopicPastQuestion({{question.question_id}})"><i class="icon-plus icon-white"></i> Add</a></td>
				{{/if}}
				{{#if ../listContext}}
				<td><a class="btn btn-mini btn-danger" onclick="removeSubtopicPastQuestion({{subtopic_past_question_id}})"><i class="icon-trash icon-white"></i> Remove</a></td>
				{{/if}}
				{{#if ../defaultContext}}
				<td><a class="btn btn-mini" onclick="editPastQuestion({{past_question_questions_id}})"><i class="icon-edit"></i> Edit</a><a onclick="deletePastQuestion({{past_question_questions_id}})" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
				{{/if}}

			</tr>
			{{/iter}}
		</tbody>
	</table>
	<input type="hidden" id="past_question_id" value="{{past_question_id}}" />
	<div class="offset5 loader"><img src="{{template_path}}img/ajax-loader.gif" />
	</div>
</div>
{{>admincontentblocks/edit-question}}

