<form class="horizontal" id="form-question">
	<div class="control-group">
		<label><strong>Question Type</strong></label>
		<select  id="question_type">
			<option value="1">Multiple Choice</option>
			<option value="2">Single Answer</option>
			<option value="3">No Answer</option>
		</select>
	</div>
	<div class="control-group">
		<label><strong>Question ID</strong></label>
		<input name="question_search_id" type="text" value="{{question_data.question.question_search_id}}" placeholder="Question ID to Search" maxlength="50" />
	</div>
	<div class="control-group">
		<label><strong>Question</strong></label>
		<textarea name="question" rows="7" class="span8 html-editor"  placeholder="Type in your question here..">{{question_data.question.question}}</textarea>
	</div>

	<input type="hidden" name="fk_subtopic_id" value="{{subtopic_id}}" />

	{{#if section_data}}
	<div class="control-group">
		<label><strong>Sections</strong></label>
		<select name="fk_section_id" id="fk_section_id">
			<option value="0">Section</option>
			{{#each section_data}}
			<option value="{{section_id}}" {{#equals_to section_id ../question_data.fk_section_id}}selected="selected"{{/equals_to}}>{{section_title}}</option>
			{{/each}}

		</select>
	</div>
	{{/if}}
	<div class="control-group">
		<label><strong>Marks</strong></label>
		<input name="marks" type="text" value="{{question_data.question.marks}}" placeholder="Marks awarded for question"  />
	</div>

	<div class="control-group">
		<label><strong>Explanation</strong></label>
		<textarea name="explanation" rows="7" class="span8 html-editor"  placeholder="Type in your explanation here..">{{question_data.question.explanation}}</textarea>
	</div>

	<legend>
		Answer Choices
	</legend>
	<fieldset>
		{{#iter answers}}
		<div class="control-group">
			{{#if status}}
			<label id="labelOption{{@index}}" class="label label-success"><strong>Correct Answer:</strong></label>
			{{else}}
			<label id="labelOption{{@index}}" for="answers[{{answer_id}}]" class="label label-warning"><strong>Option #:</strong></label>
			{{/if}}
			<div class="controls">
				<textarea id="option{{@index}}" class="answer-editor"  name="answers[{{answer_id}}]">{{answer}}</textarea>  
			</div>

		</div>

		{{/iter}}

	</fieldset>

	<!-- Hidden Form Inputs -->
	<input type="hidden"  id="question-type" value="{{question_type}}" />
	<input type="hidden"  name="test_question_id" value="{{question_data.test_question_id}}" />
	<input type="hidden"  id="fk_mock_exam_id"  name="fk_mock_exam_id" value="{{question_data.fk_mock_exam_id}}" />
	<input type="hidden"  name="mock_exam_question_id" value="{{question_data.mock_exam_question_id}}" />
	<input type="hidden"  id="fk_past_question_id"  name="fk_past_question_id" value="{{question_data.fk_past_question_id}}" />
	<input type="hidden"  name="past_question_questions_id" value="{{question_data.past_question_questions_id}}" />
	<input type="hidden" id="fk_test_id"  name="fk_test_id" value="{{question_data.fk_test_id}}" />
	<input type="hidden" name="fk_question_id" value="{{question_data.fk_question_id}}" />
	<input type="hidden" name="subtopic_trial_question_id" value="{{question_data.subtopic_trial_question_id}}" />
</form>