<form class="horizontal" id="form-section">
	<div class="control-group">
		<label>Section Title</label>
		<input name="section_title" type="text" class="input-xlarge" value="{{section_data.section_title}}" />
	</div>
	<div class="control-group">
		<label>Instructions</label>
		<textarea id="section_instructions" name="section_instructions" class="html-editor" rows="10" cols="20">{{section_data.section_instructions}}</textarea>
	</div>
	<input type="hidden" name="section_id" value="{{section_data.section_id}}" />
	<input type="hidden" id="fk_mock_exam_id" name="fk_mock_exam_id" value="{{section_data.fk_mock_exam_id}}" />
	<input type="hidden" id="fk_past_question_id" name="fk_past_question_id" value="{{section_data.fk_past_question_id}}" />
</form>