{{#each sections_data}}
<tr>
	<td>{{section_title}}</td>
	<td><a class="btn btn-mini" onclick="editSection({{section_id}})"><i class="icon-edit"></i> Edit</a>&nbsp;<a class="btn btn-mini" onclick="editSectionContent({{#if fk_past_question_id}}{{fk_past_question_id}}{{else}}{{fk_mock_exam_id}}{{/if}})"><i class="icon-edit"></i>Add Content</a> <a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>
{{/each}}
<input type="hidden"  id="section_type" value=""/>
