<div class="row">
	<a class="btn btn-success pull-right" onclick="editSection()" role="button"  data-toggle="modal"><i class="icon-plus icon-white"></i> New Section</a>
</div>
<div>
	<table class="table table-striped table-condensed" id="table-mock-sections">
	<thead>
		<tr>
			<th>Title</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
</div>
{{>admincontentblocks/edit-section}}


