<form class="horizontal" id="form-session">
	<div class="control-group">
		<label><strong>Title</strong></label>
		<input type="text" name="exam_session_title" value="{{session_data.exam_session_title}}" />
	</div>
	
	<input type="hidden" name="exam_session_id" value="{{session_data.exam_session_id}}" />					
</form>