<div class="row">
	<form class="form-search" method="post" action="{{system_functions_url}}">
		<input type="text" name="search_context" class="input-medium search-query">
		<button type="submit" class="btn">
			Search
		</button>
		<a href="{{system_functions_url}}?clear_search_context=1" class="btn btn-info">Clear</a>		
		<a href="#edit-subject" role="button"  data-toggle="modal" class="btn btn-success pull-right"><i class="icon-plus icon-white"></i> New Subject</a>
	</form>
</div>

<div class="row">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#iter content_data}}
				{{>admincontentblocks/subject-list-items}}
			{{/iter}}
		</tbody>
	</table>
</div>
{{>admincontentblocks/edit-subject}}
