<tr>
	<td>{{@index}}</td>
	<td>{{subject_title}}</td>
	<td>{{subject_description}}</td>
	<td><a class="btn btn-mini" onclick="editSubject({{subject_id}})"><i class="icon-edit"></i> Edit</a> <a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>

