<div class="row">
	<div class="span4">
		<p class="lead"><img src="assets/img/image-loading.png"/><span class="title">Resources</span>
		</p>
		<p>
			Choose the tests and lessons you want to subscribe to
		</p>
		<form id="resources">
			<label>Select Network</label>
			<select>
				<option value="Airtel">Airtel</option>
			</select>
			<br />
			<label>Pick a period </label>
			<label class="radio">
				<input type="radio" name="optionsRadios1" value="option1" checked>
				1 Month </label>
			<label class="radio">
				<input type="radio" name="optionsRadios2" value="option1">
				1 Month </label>
			<label class="radio">
				<input type="radio" name="optionsRadios3" value="option1">
				1 Month </label>
		</form>
	</div>
	<div class="span4">
		<p class="lead"><img src="assets/img/document-properties.png"/><span class="title">Tests and Lessons</span>
		</p>
		<p>
			Choose the tests and lessons you want to subscribe to
		</p>
		<form id="resources">
			<label>Choose a Subject</label>
			<label class="radio">
				<input type="checkbox" name="checkbox1" value="check1" checked>
				Biology </label>
			<label class="radio">
				<input type="checkbox" name="checkbox2" value="check1">
				Mathematics </label>
			<label class="radio">
				<input type="checkbox" name="checkbox3" value="check1">
				Chemistry </label>
			<label class="radio">
				<input type="checkbox" name="checkbox4" value="check4">
				Physics </label>
			<br />
			<label>Pick a period </label>
			<label class="radio">
				<input type="radio" name="optionsRadios1" value="option1" checked>
				1 Month </label>
			<label class="radio">
				<input type="radio" name="optionsRadios2" value="option1">
				1 Month </label>
			<label class="radio">
				<input type="radio" name="optionsRadios3" value="option1">
				1 Month </label>
		</form>
	</div>
</div>
<div class="row">
	<a href="#" class="btn btn-primary">Update Subscriptions</a>
</div>