<div class="span12">
	<div class="row-fluid">
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Assign a past questions</a>
				</div>
				<div id="collapseOne" class="accordion-body collapse">
					<div class="accordion-inner">
						<table class="table table-striped table-condensed" id="table-subtopic-past-questions">
							<thead>
								<tr>
									<th>#</th>
									<th>Question</th>
									<th>Marks</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
						<div class="offset5 loader"><img src="{{template_path}}img/ajax-loader.gif" />
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="row-fluid">
		<h5>Subtopic Past Questions</h5>
		<table class="table table-striped table-condensed" id="table-assigned-past-questions">
			<thead>
				<tr>
					<th>#</th>
					<th>Question</th>
					<th>Marks</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
		<div class="offset5 loader"><img src="{{template_path}}img/ajax-loader.gif" />
		</div>
	</div>

</div>
