{{#each subtopics_data}}
<tr id="row-{{subtopic_id}}">
	<td>
	<input type="checkbox" name="ids[]" value="{{subtopic_id}}" />
	</td>
	<td>{{subtopic_title}}</td>
	{{#if published}}
	<td><span class="badge badge-success">Published</span></td>
	{{else}}
	<td><span class="badge badge-warning">UnPublished</span></td>
	{{/if}}
	<td>{{date_added}}</td>
	<td><a class="btn btn-mini"onclick="editSubtopic({{subtopic_id}})"><i class="icon-edit"></i> Edit</a>&nbsp;&nbsp;<a class="btn btn-mini"onclick="editSubtopicContent({{subtopic_id}})"><i class="icon-edit"></i> Add Content</a>&nbsp;&nbsp;<a onclick="deleteSubtopic({{subtopic_id}})" class="btn btn-mini btn-danger"><i class="icon-trash icon-white "></i> Delete</a></td>
</tr>
{{/each}}

