<form action="admin/subtopics/save_notes" method="post">
	<div class="control-group">
		<label for="subtopic_notes">Add Notes Content</label>
		<div class="controls" style="margin-right: 30px">
			<textare class="html-editor" name="subtopic_notes" id="subtopic_notes">{{subtopic.subtopic_notes}}</textarea>
		</div>
	</div>
	<input type="hidden" name="subtopic_id" value="{{subtopic.subtopic_id}}" />
	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="Save Notes" />
	</div>
</form> 