<div class="row zero-margin">
	<a class="btn btn-success" onclick="publish('admin/subtopics','subtopic-list',getSubtopics())" ><i class="icon-ok icon-white"></i> Publish </a>
	<a class="btn btn-warning controls" onclick="unPublish('admin/subtopics','subtopic-list',getSubtopics())" ><i class="icon-lock icon-white"></i> Unpublish </a>
	<a class="btn btn-primary pull-right" onclick="editSubtopic()" role="button"  data-toggle="modal"><i class="icon-plus icon-white"></i> Add New Subtopic</a>
</div>
<div><form id="subtopic-list">
	<table class="table table-striped table-condensed" id="table-subtopics">
		<thead>

			<th>
			<input type="checkbox" id="checkAll" />
			</th>
			<th>Subtopic</th>
			<th>Status</th>
			<th>Added</th>			
			<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>

		</tbody>
	
</table></form>
</div>
{{>admincontentblocks/edit-subtopic}}

