<form class="horizontal" id="form-subtopic">
	<div class="control-group">
		<label>Subtopic Name</label>
		<input name="subtopic_title" type="text" class="input-xlarge" value="{{subtopic_data.subtopic_title}}" />
	</div>
	<div class="control-group">
		<label>Notes</label>
		<textarea id="subtopic_notes" name="subtopic_notes" class="html-editor span10" rows="10" >{{subtopic_data.subtopic_notes}}</textarea>
	</div>
	<input type="hidden" name="subtopic_id" value="{{subtopic_data.subtopic_id}}" />
	<input type="hidden" name="fk_lesson_id" value="{{subtopic_data.fk_lesson_id}}" />
</form>