{{#each content_data}}
<tr>
	<td>
	<input type="checkbox" name="ids[]" value="{{test_id}}" />
	</td>
	<td>{{test_title}}</td>
	<td>{{lesson.topic_title}}</td>
	{{#if published}}
	<td><span class="badge badge-success">Published</span></td>
	{{else}}
	<td><span class="badge badge-warning">UnPublished</span></td>
	{{/if}}
	<td>{{lesson.country.country_name}}</td>
	<td>{{lesson.level.level_name}}</td>
	<td>{{time}}</td>
	<td><a class="btn btn-mini" href="admin/tests/edit/{{test_id}}"><i class="icon-edit"></i> Edit</a>&nbsp;&nbsp;<a class="btn btn-mini" onclick="editTestContent({{test_id}})"><i class="icon-plus"></i> Add Content</a>&nbsp;<a class="btn btn-mini btn-danger" href="admin/tests/delete/{{lesson_id}}"><i class="icon-trash icon-white"></i> Delete</a></td>
</tr>
{{/each}}