{{#iter question_data}}
	<tr>
		<td>{{@index}}</td>
		<td>{{question.question}}</td>
		<td>{{question.marks}}</td>
		<td><a class="btn btn-mini" onclick="editTestQuestion({{test_question_id}})"><i class="icon-edit"></i> Edit</a> <a onclick="deleteTestQuestion({{test_question_id}})" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
	</tr>
{{/iter}}
