<div class="row">
	<a class="btn btn-success pull-right" onClick="editTestQuestion()" role="button"  data-toggle="modal"><i class="icon-plus icon-white"></i> Add New Question</a>
	
</div>
<div>
	<table class="table table-striped table-condensed" id="table-test-questions">
	<thead>
		<tr>
			<th>#</th>
			<th>Question</th>
			<th>Marks</th>
			<th>Actions</th>
		</tr>
	</thead>	
	<tbody>
		{{#iter question_data}}
		<tr>
			<td>{{@index}}</td>
			<td>{{question.question}}</td>
			<td>{{question.marks}}</td>
			<td><a class="btn btn-mini" onclick="editTestQuestion({{test_question_id}})"><i class="icon-edit"></i> Edit</a> <a onclick="deleteTestQuestion({{test_question_id}})" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
		</tr>
	{{/iter}}
	</tbody>	
</table>
<div class="offset5 loader"><img src="{{template_path}}img/ajax-loader.gif" /></div>
<input type="hidden" id="test_id"  value="{{test_id}}" />
</div>
{{>admincontentblocks/edit-question}}


