{{#each content_data}}
	<tr>
		<td>{{topic_title}}</td>
		<td>{{subject.subject_title}}</td>
		<td>{{level.level_name}}</td>
		<td>{{country.country_name}}</td>
		<td><a class="btn btn-mini" href="admin/lessons/edit/{{lesson_id}}"><i class="icon-edit"></i> Edit</a><a class="btn btn-mini btn-danger" href="admin/lessons/edit/{{lesson_id}}"><i class="icon-trash icon-white"></i> Delete</a></td>
	</tr>
{{/each}}