{{#each trial_question_data}}
	<tr>
		<td>{{question}}</td>
		<td>{{subtopic_title}}</td>
		<td>20/10/2013</td>
		<td>{{marks}}</td>
		<td><a class="btn btn-mini" onclick="editQuestion({{subtopic_trial_question_id}})"><i class="icon-edit"></i> Edit</a> <a onclick="deleteTrialQuestion({{subtopic_trial_question_id}})" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> Delete</a></td>
	</tr>
{{/each}}
