<div class="row">
	<a class="btn btn-success pull-right" onClick="editQuestion()" role="button"  data-toggle="modal"><i class="icon-plus icon-white"></i> New Trial Question</a>
</div>
<div>
	<table class="table table-striped table-condensed" id="table-trial-questions">
	<thead>
		<tr>
			<th>Question</th>
			<th>Subtopic</th>
			<th>Added</th>
			<th>Marks</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{>admincontentblocks/trial-question-list-items}}
	</tbody>
</table>
</div>
{{>admincontentblocks/edit-question}}


