<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">EziPrep Admin Panel</a>
		{{#if logged_in}}
        <ul class="nav pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle user-menu">Hi {{username}}<!--({{user_info.student_info.nickname}})--> <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#"><i class="icon-cog"></i> Preferences</a></li>			
				<li class="divider"></li>
				<li><a href="user/logout"><i class="icon-off"></i> Sign Out</a></li>
			</ul>
		</ul>
		{{/if}}
    </div>
</div>