<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Invite Requests</h3>
	</div>
	<div class="modal-body">
		<div class="tabbable">
			<!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#friend-invites" data-toggle="tab">Friends</a>
				</li>
				<li>
					<a href="#group-invites" data-toggle="tab">Groups</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="friend-invites">
					{{#each friend_invites}}
					<div class="span5 notification-list-item" id="notification-{{id}}">
						<span class="notification-list-item-img"> <a href="http://critterapp.pagodabox.com/others/admin"> <img src="{{#if avatar}}{{../component_base_url}}assets/avatars/{{avatar}}{{else}}{{../component_base_url}}assets/avatars/default-avatar.png{{/if}}" alt="" width="50" height="50"> </a> </span>
						<span class="notification-list-item-buttons"> <a onclick="accept_invite('{{id}}')" class="btn btn-small"><strong>+1 Accept</strong></a> <a  onclick="deny_invite('{{id}}')" class="btn btn-danger"><i class="icon-remove icon-white"></i> Reject</a> </span>
						<div class=".notification-list-item-body">
							<span><strong>{{firstname}} {{lastname}}</strong></span>
							<br/>
							<span><small>Upper Hill</small></span>
						</div>

					</div>
					{{/each}}
				</div>
				<div class="tab-pane" id="group-invites">
					{{#each group_invites}}
					<div class="span5 notification-list-item" id="group-notification-{{study_group_member_id}}">
						<span class="notification-list-item-buttons"> <a onclick="acceptGroupInvite({{../user_id}},{{study_group_id}})" class="btn btn-small"><strong>+1 Accept</strong></a> <a  onclick="rejectGroupInvite({{study_group_member_id}},{{invited_by}})" class="btn btn-danger"><i class="icon-remove icon-white"></i> Reject</a> </span>
						<div class=".notification-list-item-body">
							<strong>{{fname}} {{lname}}</strong> has invited you to join the study group <span><strong>{{name}}</strong></span>
							<br/>							
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>

	</div>

</div>