<!-- Modal -->
<div id="password-recovery" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="password-recovery" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel" style="padding-left: 33px">Get a new password!</h3>
	</div>
	<div class="modal-body" style="padding-left: 50px">
		<div>
			<div class="alert" id="recovery-message" style="display: none"></div>
			
			<form class="horizontal ">
				<div id="security-requirements">
					<label for="recovery_username">Username</label>
					<input placeholder="Username" name="recovery_username" id="recovery_username" value="" />
					<a class="label label-warning" onclick="get_question();">Get security question</a>
					
				</div>
				
				<div id="security-details" style="display:none">
					<h5>Answer the following Question correctly:</h5>
					<p id="security-question"></p>
					<div class="control-group">
						<label for="recovery_answer">Answer</label>
						<input placeholder="Type in your answer" name="recovery_answer" id="recovery_answer" />
					</div>
					<div class="control-group">
						<label for="new_password">New Password</label>
						<input type="password" placeholder="New Password" name="new_password" id="new_password" />
					</div>
					
					<a id="change_password" class="btn btn-primary"  onclick="change_password()">Change Password</a>
				</div>
				
			</form>
			
		</div>
	
	</div>
	
</div>