<div class="row friends-list-header">
	<span>Friends</span>
</div>
{{#each friends_data}}
	<div id="popover-friend-{{id}}" class="row friends-list-item" data-content="<a href='{{../component_base_url}}messages/start/{{id}}' class='label label-warning'>Chat</a> <a href='{{../component_base_url}}user/profile/{{id}}' class='label label-info'>Profile</a>" data-original-title="<strong>{{firstname}} {{lastname}}<strong>" rel="popover-friend" >			
			<span class="span2">
				<img class="img-polaroid" src="{{#if avatar}}{{../component_base_url}}assets/avatars/{{avatar}}{{else}}{{../component_base_url}}assets/avatars/default-avatar.png{{/if}}" alt="">
			</span>
			<span class="span10">				
				<span class="contact-name">{{firstname}} {{lastname}}</span>				
			</span>			 	
	</div>
{{/each}}
<script id="friends-list-item-template" type="text/x-handlebars-template">
	<div id="popover-friend-{{#wrap_handlebars_var id}}" class="row friends-list-item" data-content="<a href='{{component_base_url}}messages/start/{{#wrap_handlebars_var id}}' class='label label-warning'>Chat</a> <a href='{{component_base_url}}user/profile/{{#wrap_handlebars_var id}}' class='label label-info'>Profile</a>" data-original-title="<strong>{{#wrap_handlebars_var firstname}} {{#wrap_handlebars_var lastname}}<strong>" rel="popover-friend" >			
			<span class="span2">
				<img class="img-polaroid" src="http://critterapp.pagodabox.com/img/user.jpg" alt="">
			</span>
			<span class="span10">				
				<span class="contact-name">{{#wrap_handlebars_var firstname}} {{#wrap_handlebars_var lastname}}</span>				
			</span>			 	
	</div>
</script>
