<div class="navbar">
	<div class="navbar-inner">
		{{#if logged_in}}<a class="brand span2" href="#">School Name</a>{{/if}}
		{{#if logged_in}}
        <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="badge badge-inverse" id="total_notifications">{{total_notifications}}</span> Notifications</a>
	            <ul class="dropdown-menu">
	              <li><a href="#myModal" data-toggle="modal"><i class="icon-inbox"></i><!-- Friend Invites --><span id="no_invites" class="badge badge-info">{{no_invites}}</span></a></li>
	               <!-- <li><a href="studygroups"><i class="icon-group"></i><!--  Group Invites  --><!-- <span class="badge badge-info">{{no_group_invites}} --><!-- </span></a></li> -->
	              <!-- <li><a href="#password-recovery" role="button"  data-toggle="modal"><i class="icon-envelope"></i><span class="badge badge-info">{{no_invites}}</span></a></li> -->
	              <li><a href="announcements"><i class="icon-volume-up"></i><!--  Announcements  --><span class="badge badge-info">{{no_announcements}}</span></a></li>
	              
	            </ul>
            </li>
		</ul>
		{{/if}}
    </div>
</div>